article.lecturers
  +containerX()
    a(href='lecturers')
      +blockTitle(currentPageData && currentPageData.lecturersTitle ? currentPageData.lecturersTitle.replace(/\n/g, '<br>') : 'Познакомьтесь с нашими лекторами')
    .description
      p
        if currentPageData && currentPageData.lecturersDescription
          |!{currentPageData.lecturersDescription.replace(/\n/g, '<br>')}
        else
          |Настоящий мастер своего дела умеет увлечь. Мы находим таких лекторов, которые делают лекцию интересной, насыщенной и вдохновляющей.
  
  if currentPageData && currentPageData.allLecturers
    .content
      .items
        +containerSlider()
          +slider(3)
            each lecturer in currentPageData.allLecturers
              +lecturerslide(lecturer)
