article.recomendation
  +containerX()
    +blockTitle(currentPageData.recomendedTitle && currentPageData.recomendedTitle ? currentPageData.recomendedTitle.replace(/\n/g, '<br>') : 'Синхронизация рекомендует')
  .content
    .items
      if currentPageData &&currentPageData.recommendedLectures
        each lecture in currentPageData.recommendedLectures
          +lecturesItem(lecture)
    
    .description.text-center
      h3.title.hide-for-small-only
        if currentPageData && currentPageData.recomendedDescription
          |!{currentPageData.recomendedDescription.replace(/\n/g, '<br>')}
        else
          |Мы проводим по 3 лекции на разные темы каждый день.
          br
          |Вы найдете то, что интересно именно Вам!
        
      a(href='schedule').button.button-abstract.long
        |Посмотреть расписание
