article.reviews
  if (currentPageData.allReviews)
    - let reviews = currentPageData.allReviews;

    - let attended = 0; let typeName = '';
    - if(currentPageData.Lecture) attended = currentPageData.Lecture.attended || 0; typeName = 'лекцию';
    - if(currentPageData.Course) attended = currentPageData.Course.attended || 0; typeName = 'курс';
    - if(currentPageData.Cycle) attended = currentPageData.Cycle.attended || 0; typeName = 'цикл';
  
    +blockTitleRetag('Отзывы', false, 'h10', 'less')
    .content
      .attended
        +containerX()
          |#{typeName} посетили&nbsp;
          strong #{attended}
          |&nbsp;#{declOfNum(attended, ['человек', 'человека', 'человек'])}
      .items
        if (reviews.length > 0)
          +containerSlider()
            +slider(2)
              each review, index in reviews
                +reviewSlide(review, index)
        else
          +containerX()
            .slide
              .title
                .lecture-title.text-center.m80
                  |Никто из гостей еще не оставил отзыв
