article.contacts
  - let isTemplateData = currentPageData && currentPageData.templateData;
  +containerX()
    +blockTitle(isTemplateData && currentPageData.templateData.contactTitle ? currentPageData.templateData.contactTitle.replace(/\n/g, '<br>') : 'Контакты')
  
  .content.pos-relative
    .description.horizontal-center
      +containerX()
        .title
          h3 
            if isTemplateData && currentPageData.templateData.contactOfficeTitle
              |#{currentPageData.templateData.contactOfficeTitle}
            else
              |Центральный офис
        .address
          span 
            if isTemplateData && currentPageData.templateData.contactOfficeAddress
              |#{currentPageData.templateData.contactOfficeAddress}

        .phone
          if isTemplateData && currentPageData.templateData.contactOfficePhone
            a(href=`tel:${currentPageData.templateData.contactOfficePhone.replace(/\(|\)|-|\s/ig, '')}`)
              |#{currentPageData.templateData.contactOfficePhone}

    #map
