.lecturers-sortable
  each tag in currentPageData.allTagsWithLectures
    if tag.lecturers.length > 0
      +sortableContainerItem(tag.alias.alias)
        +tagTitleWithColor(tag.title, tag.color)
        .grid-c3
          +containerClearGridX({ small: 1, medium: 3, large: 3})
            each lecturer in tag.lecturers
              .cell
                +lecturerBlock(lecturer)
