mixin anons(anons, link)
  .anons
    p= `${anons}${' ... '}`
      a(href='lecture.html').more= '>>> далее'
    
mixin anonsReveal(anons, link, id)
  .anons
    p= `${anons}${' ... '}`
      button.button(data-open=id).more= '>>> далее'
