mixin buyProfileInput()
  h3 Заказчик
  label имя
    input(type='text', name='firstName', required, pattern='alpha_ru')
  label фамилия
    input(type='text', name='lastName', required, pattern='alpha_ru')
  label email
    input(type='text', name='email', required, pattern='email')
  label телефон
    input(type='text', name='phone', required, pattern='phone')
  
  h3 Получатель
  label имя
    input(type='text', name='firstNameG', required, pattern='alpha_ru')
  label фамилия
    input(type='text', name='lastNameG', required, pattern='alpha_ru')
  label дата вручения
    input(type='date', name='date', required)
      
mixin buyCertModal(items, infinity)
  #buyCertModal.buy-others.reveal.reveal-s(data-reveal)
    .reveal-inner
      .title
        h2 Cертификат
        
      form(action='#', method='post', data-href='order-cert.html', data-abide, novalidate)
        legend Количество лекций:
        .items
          each item, index in items
            - let quantity = item.quantity;
            .qnt
              input(type='radio', name='qntLecture', id=`qntLecture-${quantity}`, required)
              label(for=`qntLecture-${quantity}`) 
                if (quantity > 0)
                  |#{quantity}
                  |&nbsp;#{declOfNum(quantity, ['лекция', 'лекции', 'лекций'])}
                  | - #{item.price} 
                  +ruble()
                else
                  |безлимит
          .qnt    
            input(type='radio', name='qntLecture', id='qntLecture-all', required)
            label(for='qntLecture-all')
              |безлимит - #{infinity} 
              +ruble()
              
        .profile-items
          +buyProfileInput()
        
        .actions.text-center
          +buttonBuySubmit('Купить')
        .agreement.text-center
          | Нажимая “Купить билет”, Вы принимаете условия 
          a(href='agreement.html', target='_blank') Пользовательского соглашения
      
      +closeModalButton()
        
mixin buySubsModal(items)
  #buySubsModal.buy-others.reveal.reveal-s(data-reveal)
    .reveal-inner
      .title
        h2 Cертификат
        
      form(action='#', method='post', data-href='order-subs.html', data-abide, novalidate)
        legend Количество лекций:
        .items
          each item, index in items
            - let quantity = item.quantity;
            .qnt
              input(type='radio', name='qntLecture', id=`qntLecture-${quantity}`, required)
              label(for=`qntLecture-${quantity}`) 
                if (quantity > 0)
                  |#{quantity}
                  |&nbsp;#{declOfNum(quantity, ['лекция', 'лекции', 'лекций'])}
                  | - #{item.price} 
                  +ruble()
                else
                  |безлимит
                  | - #{item.price} 
                  +ruble()
              
        .profile-items
          +buyProfileInput()
        
        .actions.text-center
          +buttonBuySubmit('Купить')
        .agreement.text-center
          | Нажимая “Купить билет”, Вы принимаете условия 
          a(href='agreement.html', target='_blank') Пользовательского соглашения
      
      +closeModalButton()
      
mixin buyOtherDateSubscription(end)
  +containerFullX()
    if (end)
      +cellOffset(4, 6)(class='medium-offset-5 medium-6 small-offset-1 small-14')
        .other-date-subscribe
          p Узнать о новом расписании:
          +subscribeForm()
    else
      +cell4Off1()
        .other-date-subscribe
          h3 Мне не подходят эти даты
          p Узнать о новом расписании:
          +subscribeForm()

mixin buyOptions(item, len)
  .options
    +containerX()
      .options-items
        .quantity
          .title
            h3 
              |число
              br
              |участников
          .tickets
            .title-r.minus.pos-relative
              .vh-center -
            input(type='text', name='tickets', value=0).ink
            .title-r.plus.pos-relative
              .vh-center +
        .promocode
          .title
            h3 промо-код
          .pos-relative
            input(type='text', name='promocode')
            span
        .total
          |итого:&nbsp;
          //- span.total-item #{item.price * len}
          span.total-item 0
          |&nbsp;
          +ruble()
    ul.participants-list
    +containerX()
      +buttonBuySimple('Купить билет')(data-href='order.html', class='process-buy')
      .order-error.error(style='display: none;') Не выбраны даты
      .abide-error.error(style='display: none;') Добавьте участников
      .agreement
        | Нажимая “Купить билет”, Вы принимаете условия 
        a(href='agreement.html', target='_blank') Пользовательского соглашения
    
mixin buyOrder(lectures)
  +containerX()
    .order
      .title
        h3 Ваш заказ:
      .lecture-list
        ul
          each lecture in lectures
            li(data-lecture-id=lecture._id)
              div
                span •&nbsp;
                |#{lecture.title}
              .date-empty
                | Нет выбранных дат
              div
                .date(style='display: none;')
                  span.l-month
                    +formatDateShort(lecture.dates[0].date)
                  |&nbsp;в&nbsp;
                  span.l-time
                    +formatDateTime(lecture.dates[0].date)
                  |,
              |#{lecture.dates[0].location.title} (#{lecture.dates[0].location.address})
      .description
        |Если у вас остались вопросы, мы с радостью ответим на них по телефону: #{locals.app.phone}
    
mixin buyCourse(course)
  #buy.anchor-point
    article.buy
      +containerX()
        +blockTitle('Купить билет', false, 'h12', 'less')
      +containerX()
        .course-title
          +title(`Курс “${course.title}”`, `/курс “${course.mainCourse}”`)

      +containerFullX()
        +cell10Off1()
          .how
            +subTitle('сколько')
              span лекция
              span &nbsp;#{course.lectures[0].price}&nbsp;
                +ruble()
              |&nbsp;/&nbsp;
              span курс
              span(data-course-price=course.price) &nbsp;#{course.price}&nbsp;
                +ruble()
                
        +cell4()
          +sale(course.sale)

      +lecturesBuy(course.lectures, 'course')
      
      +buyOptions(course.lectures[0], course.lectures.length)
      
      +buyOrder(course.lectures)
      
      +buyOtherDateSubscription()

mixin buyCycle(cycle)
  #buy.anchor-point
    article.buy
      +containerX()
        +blockTitle('Купить билет', false, 'h12', 'less')
      +containerX()
        .course-title
          +title(`Цикл “${cycle.title}”`)

      +containerFullX()
        +cell10Off1()
          .how
            +subTitle('сколько')
              span лекция
              span &nbsp;#{cycle.lectures[0].price}&nbsp;
                +ruble()
                
        +cell4()
          +sale(cycle.sale)

      +lecturesBuy(cycle.lectures, 'cycle')
      
      +buyOptions(cycle.lectures[0], cycle.lectures.length)
      
      +buyOrder(cycle.lectures)
      
      +buyOtherDateSubscription()

mixin buyLecture(lecture, noTickets, end)
  #buy.anchor-point
    article.buy          
      +containerX()
        +blockTitle('Купить билет', false, 'h12', 'less')
        
      .pos-relative
        if (noTickets || end)
          .end
            .inner.vh-center
              +containerFullX()
                +cellOffset(4, 6)(class='medium-offset-5 medium-6 small-offset-1 small-14')
                  .text-left
                    if (end)
                      .title
                        h3 Нет доступных дат
                    else if (noTickets)
                      .title
                        h3 Билеты закончились
                  
              +buyOtherDateSubscription(true)(class='medium-offset-5 medium-6')
          
        +containerFullX()
          +cell10Off1()
            .how
              +subTitle('сколько')
                span #{lecture.price} 
                  +ruble()
                  |&nbsp;/ #{lecture.time} часа
                  
          +cell4()
            +sale(lecture.sale)

        +lecturesBuy([lecture])
        +buyOptions(lecture, 1)
        
        if (!noTickets && !end)
          +buyOrder([lecture])
          +buyOtherDateSubscription()



mixin sale(sales)
  .sale
    h3 Скидки и акции: 
    each sale in sales
      p= sale.title
      
mixin lecturesBuy(lectures, type)
  - let len = lectures.length;
  .show-for-large
    +titleDateSelect()
  .lecture-list.show-more-container
    each lecture, index in lectures
      +lectureBuy(lecture, index)
    if (len > 4)
      - let pre = type === 'cycle' ? 'цикла' : 'курса';
      +containerX()
        +buttonShowMore(`показать все лекции ${pre}`)(class='lecture-buy-show-more')

mixin lectureDateBuy(lecture, dates, i)
  .lecture-dates
    if (dates.length > 0)
      +sliderFull(5, i)
        each item in dates
          +lectureBuySlide(lecture, item)
    else
      .no-date
        p Нет доступных дат 
  
mixin lectureBuy(lecture, index)
  - let id = lecture._id;
  - let cls = '';
  if (index > 4)
    - cls = 'hidden';
    
  .lecture-item(class=cls)
    +containerFullX()
      +cell4Off1()
        //- input.check-lecture(type='checkbox', value=id, id=id, name='lecture', data-lecture-price=lecture.price, data-lecture-id=id, data-lecture-title=lecture.title, checked=true)
        input.check-lecture(type='checkbox', value=id, id=id, name='lecture', data-lecture-price=lecture.price, data-lecture-id=id, data-lecture-title=lecture.title)
        label(for=id).title
          //- span.hide-for-small-only
          |Лекция #{index + 1}.
          br
          |#{lecture.title}
      +cell(10)(class='large-offset-0 medium-offset-1 medium-14 small-offset-1 small-14')
        +lectureDateBuy(lecture, lecture.dates, id)
        
mixin ruble()
  span.ruble ₽

mixin titleDateSelect()
    +containerFullX()
      +cellOffset(10, 5)
        .title-date-select Выберите подходящие даты
