mixin lecturersListCourse(lecturers)
  .content
    +containerFullX()
      each lecturer, index in lecturers
        - let fullName = `${lecturer.firstName} ${lecturer.lastName}`;
        if (index === 0 || index % 2 === 0)
          +cellOffset(2, 1)(class='medium-offset-1 medium-2 small-offset-1 small-5')
            a(href=lecturer.link)
              .image
                img(src=lecturer.image, alt=fullName)
        else
          +cell(2)(class='large-offset-0 medium-offset-0 medium-2  small-offset-1 small-5')
            a(href=lecturer.link)
              .image
                img(src=lecturer.image, alt=fullName)
        +cell(5)(class='large-offset-0 medium-offset-0 medium-5 small-9')
          a(href=lecturer.link)
            .title
              h3= fullName
            .skills
              if (lecturer.skills.length > 0)
                - lecturer.skills[0] = lecturer.skills[0].charAt(0).toUpperCase() + lecturer.skills[0].slice(1);

                p= lecturer.skills.join(', ')
                  |.

mixin lecturersList(lecturers, hideAnons)
  .lecturers-list
    each lecturer in lecturers
      +lecturerItem(lecturer, hideAnons)
      
mixin lecturerItem(lecturer, hideAnons)
  - let fullName = `${lecturer.firstName} ${lecturer.lastName}`;
  +containerFullX()
    +cell4Off1()
      .image
        img(src=lecturer.image, alt=fullName)
    +cell10()
      .title
        h3= fullName
      .skills
        p= lecturer.skills.join(', ')
        
      .hide-for-small-only
        +anons(lecturer.anons)
      
