mixin logo(src)
  a(href='http://aolabs.ru/synho/')
    .logo
      img(src=src)
      //- div
      //-   .line
      //-   strong
      //-     |синхронизация
      //- div
      //-   |культурная платформа
      //- 
