mixin lecturerslide(item)
  - let fullName = `${item.firstName} ${item.lastName}`;
  .swiper-slide.slide.text-center
    +lecturerBlock(item)

mixin reviewSlide(item, index)
  - let id = `review-${index}`;
  .swiper-slide.slide
    .content
      .left
        .avatar
          img(src=item.avatar)
      .right
        .title
          h3
            span.lecture-title= item.lectureTitle
            if (item.courseTitle) 
              span.lecture-title.separator &nbsp;/&nbsp;
              br
              span.course-title= `курс “${item.courseTitle}”`
        +anonsReveal(item.anons, item.link, id)
      .reveal.review-reveal(id=id, data-reveal)
        .left
          .avatar
            img(src=item.avatar)
        .right
          .title
            h3
              span.lecture-title= item.lectureTitle
              if (item.courseTitle) 
                span.lecture-title.separator &nbsp;/&nbsp;
                br
                span.course-title= `курс “${item.courseTitle}”`
          .text
            p= item.text
            
        button.close-button(data-close='', aria-label='Close modal', type='button')
            //- span(aria-hidden='true') &times;
            img(src='assets/img/close.png', alt='close')

        
mixin locationSlide(location)
  .swiper-slide.slide
    .content
      .image
        img(src=location.image, alt=location.title)
      .line
      .title
        h3= location.title
      .address= location.address

//- mixin lectureBuySlide(lecture, item)
//-   - let id = lecture._id;
//-   - let date = item.date;
//-   - let metro = item.location.metro;
//-   .swiper-slide.slide(data-lecture-id=id, data-lecture-date=date)
//-     .content
//-       .date
//-         +formatDateShort(date)
//-         |,&nbsp;
//-         +formatDateTime(date)
//-       .day
//-         +day(date)
//-       .metro м. #{metro}

mixin lectureBuySlide(lecture, item)
  - let id = lecture._id;
  - let date = item.date;
  - let metro = item.location.metro;
  .swiper-slide.slide(data-lecture-id=id, data-lecture-date=date)
    .content
      .checkbox-f
      .date
        +formatDateShortM(date)
        |,&nbsp;
        +formatDateTime(date)
      +day(date)
      .metro м. #{metro}
        
mixin slider(n)
  .grid-x
    .large-1.small-1.cell.pos-relative.slider-nav-left
      .slider-button-prev.vh-center.slider-nav
    .large-14.small-14.cell
      div(class=`swiper-container slider-container slides-perview-${n}`)
        .swiper-wrapper
          block
    .large-1.small-1.cell.pos-relative.slider-nav-right
      .slider-button-next.vh-center.slider-nav
        
mixin sliderFull(n, i)
  .grid-x
    .large-16.pos-relative.slider-full.cell(class=`slider-index-${i}`)
      .slider-nav-left.slider-nav-wrap
        .slider-button-prev.vh-center.slider-nav
      div(class=`swiper-container slider-container slides-perview-${n}`)
          .swiper-wrapper
            block
      .slider-nav-right.slider-nav-wrap
        .slider-button-next.vh-center.slider-nav
    
