mixin filterListStyleTag(items)
  style(type='text/css')
    |!{styleFilterList(items, 'filter-list', 'filter-item-')}
          

mixin filterItem(item, active, index)
  .button.white-button.filter-item(data-filter-alias=item.alias class=active ? `filter-item-${index} active` : `filter-item-${index}`)= item.title

mixin filterList(items)
  +filterListStyleTag(items)
  .filter-list.filter-container
    each item, index in tags
      if (index === 0)
        +filterItem(item, true, index)
      else
        +filterItem(item, false, index)

mixin filterSchedule()
  .filter-schedule.filter-data-sub-container(data-sorting-type='single')
    ul.menu.align-right
      li 
        a(href='#', data-filter-date-alias='tomorrow').tomorrow.filter-nav.filter-sub-item Завтра
      li 
        a(href='#', data-filter-date-alias='holiday').holiday.filter-nav.filter-sub-item Выходные
      li.calendar-block
        a(href='#', data-filter-date-alias='all').calendar.filter-nav.filter-sub-item Выбрать дату
        +calendar()
      li
        +searchToggleButton()
      
mixin sortableContainer()
  .sortable-items
    block

mixin sortableContainerItem(alias)
  .sortable-item(data-filter-alias=alias)
    block

mixin sortableSubItem(alias)
  .sortable-sub-item(data-filter-alias=alias)
    block

mixin sortableDateContainerItem(date, today)
  - const attr = {};
  - if (checkHoliday(date)) { attr['data-filter-date-sub-holiday'] = true }
  - if (checkTomorrow(today, date)) { attr['data-filter-date-sub-tomorrow'] = true }
  .sortable-date-item(data-filter-date-alias=date)&attributes(attr)
    block

mixin sortableHolidayDateContainerItem(date)
  if (checkHoliday(date))
    +sortableSubItem('holiday')
      block
  else
    block
      
mixin sortableLectures(lectures, archive)
  +sortableContainer()
    each item in lectures
      - let tag = item.tag;
      +sortableContainerItem(tag.alias)
        +containerX()
          +tagTitleWithColor(tag.title, tag.color)
        each lecture in item.items
          +lecturesItem(lecture, '', true, archive)

mixin sortableDateContainer()
  .sortable-date-items
    block

mixin sortableScheduleLectures(items, noOther)
  +sortableDateContainer()
    +sortableContainer()
      - let today = moment(moment().format('YYYY-MM-DD'));
      each item, index in items
        +sortableDateContainerItem(item.date, today)
          +containerX()
            .date-item
              +formatDateShort(item.date)
              span , 
              +day(item.date)
              
          
          +lecturesListContainer()
            each lecture in item.lectures
              +sortableContainerItem(lecture.tag[0].alias)
                +lectureItemSchedule(lecture, '', noOther)
          
          +noEvents()
