mixin subscribeForm()
  form(action='/subscribe/add', method='post', data-abide, novalidate).subscribe-form
      input.subscribe(type='text', name='email', placeholder='Ваша почта', pattern='email', required)

      button(type='submit').button
      //- .message-small.succses
      //-     span Спасибо за подписку!
      //- .message-small.error
      //-     span
      //-     .close &#10799;
