mixin tag(tag)
  .tag(data-alias=tag.alias, style={ 'background-color': tag.color, color: tag.textColor })
    .tag-title= tag.title

mixin tagTitleWithColor(title, color)
  .title-with-color
    h2
      span.color(style={ "background-color": color })
      | #{title}
