mixin whenWhereHow(lecture)
  .pos-relative.when-where-how
    .hide-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
        
    .when
      +subTitle('когда')
      +eventDates(lecture.dates, 2)
      
    .where
      +subTitle('где')
      +locationsList(lecture.locations)
    .how
      +subTitle('сколько')
      .price
        |#{lecture.price} руб.
    .abstract5
      img(src='assets/img/abstract5.png')
        
    .show-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')

mixin whenWhereHowCourse(course)
  .right.pos-relative.when-where-how
    .hide-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
    .when
      +subTitle('когда')
      +eventDatesCourse(course.dates)
      
    .where
      +subTitle('где')
      +locationsList(course.locations)
    .abstract5
      img(src='assets/img/abstract5.png')
    
    .show-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
        
mixin whenWhereHowCycle(cycle)
  .right.pos-relative.when-where-how
    .hide-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
    .when
      +subTitle('когда')
      +eventDatesCycle(cycle)
      
    .where
      +subTitle('где')
      +locationsListCycle(cycle.locations)
    .abstract5
      img(src='assets/img/abstract5.png')
    
    .show-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
