article.how-work.how-work-course
  +containerX()
    +blockTitle('Как проходит синхронизация')
  .content
    .items
      +containerX()
        .grid-x.small-up-1.medium-up-4.large-up-4.text-center
          .cell
            .content
              .title
                h3
                  .icon.many
                  |Стоимость
              .text
                p
                  |Абонемент на
                  br
                  |5 лекций&nbsp;
                  strong 3500 руб.
                  br
                  |Стоимость одной&nbsp;
                  br
                  |лекции&nbsp;
                  strong 900 руб. 
                  
          .cell
            .content
              .title
                h3
                  .icon.time
                  |Формат
              .text
                p
                  |Каждая наша лекция идет
                  br
                  |в среднем 
                  strong 2 часа
                  |, в группе
                  br
                  |не более&nbsp;
                  strong 30 человек
                  
          .cell
            .content
              .title
                h3 
                  .icon.umbrella
                  |Страховка
              .text
                p
                  |Пропустили лекцию?
                  br
                  |Просто&nbsp;
                  strong запишитесь 
                    br
                    |на другую!
                  
          .cell
            .content
              .title
                h3 
                  .icon.book
                  |Бонус
              .text
                p
                  |Мы&nbsp;
                  strong присылаем презентацию
                  br
                  |&nbsp;и материалы для самостоятельного
                  br
                  |&nbsp;изучения темы
