article.how-work.how-work-lecture
  +containerX()
    +blockTitle('Как проходит синхронизация', false, 'h10', 'less')
  .content
    .items
      +containerX()
        .grid-x.small-up-1.medium-up-3.large-up-3.text-center
          .cell
            .content
              .title
                h3
                  .icon.time
                  | Формат
              .text
                p
                  |Каждая наша лекция идет
                  br
                  |в среднем 
                  strong 2 часа
                  |, в группе
                  br
                  |не более&nbsp;
                  strong 30 человек
                  
          .cell
            .content
              .title
                h3
                  .icon.umbrella
                  | Страховка
              .text
                p
                  |Пропустили лекцию?
                  br
                  |просто&nbsp;
                  strong запишитесь на
                    br
                    |другую! 
                  
          .cell
            .content
              .title
                h3 
                  .icon.book
                  |Бонус
              .text
                p
                  |Мы&nbsp;
                  strong присылаем презентацию
                  br
                  |&nbsp;и материалы для самостоятельного
                  br
                  |&nbsp;изучения темы
 
