.lecturers-sortable
  each item in lecturersSortable
    - let tag = item.tag;
    +sortableContainerItem(tag.alias)
      +tagTitleWithColor(tag.title, tag.color)
      .grid-c3
        +containerClearGridX({ small: 1, medium: 3, large: 3})
          each lecturer in item.items
            .cell
              +lecturerBlock(lecturer)
