article.lecturers
  +containerX()
    a(href='lecturers.html')
      +blockTitle('Познакомьтесь с нашими лекторами')
    .description
      p
        |Настоящий мастер своего дела умеет увлечь. Мы находим таких лекторов, которые делают лекцию интересной, насыщенной и вдохновляющей.
  .content
    .items
      +containerSlider()
        +slider(3)
          each lecturer in lecturers
            +lecturerslide(lecturer)
