article.partners
  +containerX()
    +blockTitle('Наши партнеры')
    .content.text-center
      .inl-block
        img(src='assets/img/partner1.png')
      .inl-block
        img(src='assets/img/partner2.png')
