//- article.promo
//-   .bg-main.text-center(style={ "background-image": `url('${locals.app.home.promoImage}')` })
//-     //- img(src=locals.app.home.promoImage)
//-   .content.vh-center
//-     h1.text-center
//-       |НЕСКУЧНЫЕ ЛЕКЦИИ
//-       br
//-       |О КУЛЬТУРЕ И НАУКЕ
//- 
//-     .sub.text-center
//-       .bg-sub.text-center.horizontal-center
//-         img(src=locals.app.home.promoSubImage)
//-       p
//-         | Лекции по живописи, архитектуре, кино, литературе, физике, астрономии и о многом другом. Выбирайте свои темы и развивайтесь с удовольствием.
//-     
//-       a.button Выбрать лекцию
//-         
article.promo(style={ "background-image": `url('${locals.app.home.promoImage}')` })
  h1.text-center
    |НЕСКУЧНЫЕ ЛЕКЦИИ
    br
    |О КУЛЬТУРЕ И НАУКЕ
  .sub.text-center(style={ "background-image": `url('${locals.app.home.promoSubImage}')` })
    p
      | Лекции по живописи, архитектуре, кино,
      br
      |литературе, физике, астрономии и о многом
      br
      |другом. Выбирайте свои темы и развивайтесь с удовольствием.
  .text-center
    a(href='catalog.html').button Выбрать лекцию
