article.recomendation.recomendation-lecture
  +containerX()
    +blockTitle('Что Вам еще может быть интересно', false, '', 'less')
  .content
    .items
      each lecture in pages.lecture.recomendation
        +lecturesItem(lecture, '', true)
