article.reviews
  - let attended = pages.lecture.attended;
  
  +blockTitleRetag('Отзывы', false, 'h10', 'less')
  .content
    .attended
      +containerX()
        |лекцию посетили&nbsp;
        strong #{attended}
        |&nbsp;#{declOfNum(attended, ['человек', 'человека', 'человек'])}
    .items
      +containerSlider()
        +slider(2)
          each review, index in reviews
            +reviewSlide(review, index)
