article.reviews
  +containerX()
    +blockTitle('Отзывы')
  .content
    .items
      +containerSlider()
        +slider(2)
          each review, index in reviews
            +reviewSlide(review, index)
