article.schedule
  +containerX()
    +blockTitle('Расписание на эту неделю')
  .content
    .items
      each item in schedule
        +scheduleList(item)
    .description.text-center
      a(href='schedule.html').button.button-abstract.long
        |Посмотреть расписание
    .abstract.abstract-1
      img(src='assets/img/abstract1.png')
    .abstract.abstract-2
      img(src='assets/img/abstract2.png')
    .abstract.abstract-3
      img(src='assets/img/abstract3.png')
    .abstract.abstract-4
      img(src='assets/img/abstract4.png')
      
