article.how-work
  - let howWork = currentPageData.HowWorkPage;
  +containerX()
    +blockTitle(currentPageData && currentPageData.howWorksTitle && currentPageData.howWorksTitle ? currentPageData.howWorksTitle.replace(/\n/g, '<br>') : 'Как проходит синхронизация')
  .content
    .items
      +containerX()
        .grid-x.small-up-1.medium-up-2.large-up-4.text-center
          .cell
            .content
              .title
                h3
                  .icon.time
                  if howWork && howWork.titleFirstBlock
                    | !{howWork.titleFirstBlock}
                  else
                    | Как?
              .text
                p
                  if howWork && howWork.textFirstBlock
                    |!{howWork.textFirstBlock}
                  else
                    |Каждая наша лекция идет
                    br
                    |в среднем 
                    strong 2 часа
                    |, в группе
                    br
                    |не более&nbsp;
                    strong 30 человек
                  
          .cell
            .content
              .title
                h3
                  .icon.house
                  if howWork && howWork.titleSecondBlock
                    |!{howWork.titleSecondBlock}
                  else
                    | Где?
              .text
                p
                  if howWork && howWork.textSecondBlock
                    |!{howWork.textSecondBlock}
                  else
                    strong В лектории Синхронизации
                    |&nbsp;
                    br
                    |(м. Кропоткинская)
                    br
                    |и на других площадках
                    br
                    |в центре Москвы
                  
          .cell
            .content
              .title
                h3 
                  .icon.many
                  if howWork && howWork.titleThreeBlock
                    |!{howWork.titleThreeBlock}
                  else
                    |Сколько?
              .text
                p
                  if howWork && howWork.textFourBlock
                    |!{howWork.textThreeBlock}
                  else
                    |1 лекция стоит&nbsp;
                    strong 900 рублей
                    |,
                    br
                    |&nbsp;часть лекций можно посетить
                    br
                    |только в рамках курса
                  
          .cell
            .content
              .title
                h3 
                  .icon.book
                  if howWork && howWork.titleFourBlock
                    |!{howWork.titleFourBlock}
                  else
                    |И все?
              .text
                p
                  if howWork && howWork.textFourBlock
                    |!{howWork.textFourBlock}
                  else
                    |Мы&nbsp;
                    strong присылаем презентацию
                    br
                    |&nbsp;и материалы для самостоятельного
                    br
                    |&nbsp;изучения темы
        

 
