article.partners
  +containerX()
    +blockTitle(currentPageData && currentPageData.partnerTitle ? currentPageData.partnerTitle.replace(/\n/g, '<br>') : 'Наши партнеры')
  
  +containerX()
    .content
      .grid-x.grid-margin-x.grid-margin-y.small-up-2.medium-up-4.large-up-6.text-center
        //- .content.text-center
        if currentPageData && currentPageData.allPartners
          each partner in currentPageData.allPartners
            .cell
              .partner-item
                if partner.image && partner.image !== 'no-photo'
                  if partner.link
                    a(href=partner.link)
                      img(src=`${IMAGE_HOST}/${partner.image}/150x150/${slugify(partner.title)}.jpg`, alt=partner.title)
                  else
                    img(src=`${IMAGE_HOST}/${partner.image}/150x150/${slugify(partner.title)}.jpg`, alt=partner.title)
                else
                  if partner.link
                    a(href=partner.link)
                      img(src='/assets/img/no-photo-150x150.png', alt=partner.title)
                  else
                    img(src='/assets/img/no-photo-150x150.png', alt=partner.title)
