article.reviews
  if (currentPageData.allReviews)
    - let reviews = currentPageData.allReviews;
      +containerX()
        +blockTitle(currentPageData && currentPageData.reviewsTitle ? currentPageData.reviewsTitle.replace(/\n/g, '<br>') : 'Отзывы')
      .content
        .items
          if (reviews.length > 0)
            +containerSlider()
              +slider(2)
                each review, index in reviews
                  +reviewSlide(review, index)
          else
            +containerX()
              .slide
                .title
                  .lecture-title.text-center.m80
                    |Никто из гостей еще не оставил отзыв
            
