.button-abstract {
  background-color: transparent;
  background-image: url('../img/button-abstract.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  font-family: 'Roboto Slab';
  font-size: rem-calc(30);
  font-weight: bold;
  line-height: 1;
  padding: rem-calc(12 21 18 41);
  &:hover, &:focus {
    background-color: transparent;
    background-image: url('../img/button-abstract.svg');
  }
  @include breakpoint(small only) {
    font-size: rem-calc(25);
  }
}



.whatinput-types-touch {
  .white-button {
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  .button {
    &:hover {
      background-color: #fff;
      color: #000;
    }
    &.filter-item-0 {
      &.active {
        background-color: #000;
        color: #fff;
      }
    }
  }
  .button-buy {
    &:hover, &:focus {
      background-color: transparent;
      text-decoration: none;
      color: #fff;
    }
  }
  // .buy .lecture-dates .slide {
  //   &:hover {
  //     background: #fff;
  //     color: $body-font-color;
  //   }
  //   &.active {
  //     .content {
  //       background: #000;
  //       color: #fff;
  //     }
  //   }
  // }
  // .buy .lecture-dates .content {
  //   &:hover {
  //     background: #fff;
  //     color: $body-font-color;
  //   }
  // }
  // .menu-anchors a:hover .line {
  //   background: transparent;
  // }
  // .menu-anchors a.active .line {
  //   background: #000;
  // }
}

.white-button {
  background: #fff;
  border: 1px solid #000000;
  color: #000;
  font-size: rem-calc(18);
  font-weight: 400;
  &:hover, &.active {
    background: #000;
    color: #fff;
  }
}

.button-buy {
  background-color: transparent;
  background-image: url('../img/bg-buy.svg');
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Roboto Slab';
  line-height: 1;
  font-size: rem-calc(30);
  font-weight: bold;
  padding: rem-calc(10 54 15 62);
  background-size: contain;
  &:hover, &:focus {
    background-color: transparent;
    text-decoration: none;
    background-image: url('../img/bg-buy.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.button-gift {
  background-color: transparent;
  background-image: url('../img/bg-gift.svg');
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Roboto Slab';
  line-height: 1;
  font-size: rem-calc(30);
  font-weight: bold;
  padding: rem-calc(10 36 15 48);
  background-size: contain;
  &:hover, &:focus {
    background-color: transparent;
  }
}

.button-more {
  background-color: transparent;
  background-image: url('../img/bg-more.svg');
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Roboto Slab';
  line-height: 0.7;
  font-size: rem-calc(23);
  font-weight: 700;
  padding: rem-calc(12 18 15 29);
  background-size: contain;
  &:hover, &:focus {
    background-color: transparent;
    text-decoration: none;
  }
}

.button-show-more {
  cursor: pointer;
  font-family: 'Roboto Slab';
  &:hover {
    text-decoration: underline;
  }
  &.lecture-show-more {
    font-size: rem-calc(23);
    font-weight: 700;
    letter-spacing: rem-calc(-0.61);
    line-height: 1;
    margin-bottom: rem-calc(65);
    margin-top: rem-calc(-29);
  }
  &.lecture-buy-show-more {
    font-size: rem-calc(18);
    font-weight: 700;
    line-height: 1;
    letter-spacing: rem-calc(0.55);
    margin-bottom: rem-calc(10);
    margin-top: rem-calc(12)
  }
}
