.date {
  font-family: 'Roboto Slab';
  font-size: rem-calc(14);
  font-weight: 400;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  @include breakpoint(small only) {
    font-size: rem-calc(20);
  }
}
