.grid-c3 {
  .cell {
    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(3n+4) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3n+2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
    }

    &:nth-child(3n+3) {
      text-align: right;
    }
    @include breakpoint(small only) {
      text-align: center !important;
    }
  }
}
