.logo {
  font-family: 'Roboto Slab', serif;
  font-size: rem-calc(20);
  font-weight: 300;
  line-height: 1.2;
  @include breakpoint(small only) {
    max-width: rem-calc(190);
  }
  .line {
    height: rem-calc(13);
    background: #000;
    margin-bottom: rem-calc(2);
  }
  > div {
    display: inline-block;
    margin-bottom: rem-calc(2)
  }
  strong {
    font-weight: 700;
  }
}
