@mixin inputBorderBlack {
	border: 1px solid #636363;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: rem-calc(30);
	line-height: 1;
	font-size: rem-calc(15);
}

@import './logo';
@import './nav';
@import './header';
@import './tag';
@import './date';
@import './buttons';
@import './slides';
@import './grid';
@import './blocks';

@import './components/sortable';
@import './components/lecturesList';
@import './components/reveal';
@import './components/search';
@import './components/spin';
@import './components/form';

@import './home/promo';
@import './home/recomendation';
@import './home/lecturers';
@import './home/howWork';
@import './home/schedule';
@import './home/gallery';
@import './home/reviews';
@import './home/locations';
@import './home/partners';
@import './home/contacts';
@import './home/footer';

@import './pages/home';
@import './pages/lecturers';
@import './pages/lecturer';
@import './pages/lecture';
@import './pages/catalog';
@import './pages/subscription';
@import './pages/certificate';
@import './pages/course';
@import './pages/cycle';
@import './pages/schedule';
@import './pages/order';
@import './pages/account';
@import './pages/about';
@import './pages/simple';
@import './pages/404';

@include breakpoint(small) { html { font-size: 10px } }
@include breakpoint(1080px down) { html { font-size: 12px } }
@include breakpoint(1080px) { html { font-size: 12px } }
@include breakpoint(1280px) { html { font-size: 14px } }
@include breakpoint(1366px) { html { font-size: 15px } }
@include breakpoint(1440px) { html { font-size: 16px } }

.main {
	min-height: rem-calc(900);
	&.page-error {
		min-height: auto;
	}
}

.vh-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.vertical-center {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.horizontal-center {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.pos-relative {
	position: relative;
}

.lh-1 {
	line-height: 1;
}

.block-title {
  .line {
    height: rem-calc(14);
    width: 100%;
    background: #000;
    margin-bottom: rem-calc(8);
		&.h10 {
			height: rem-calc(10);
		}
		&.h12 {
			height: rem-calc(12);
		}
  }
  h1, h2 {
    font-family: 'Roboto Slab';
    font-size: rem-calc(30);
    font-weight: 700;
		line-height: 1.05;
		&.less {
			font-size: rem-calc(25);
		}
  }
}

.block-title-clear {
	h1, h2 {
		font-family: 'Roboto Slab';
		font-size: rem-calc(25);
		font-weight: 700;
	}
}

.item-title {
	.line {
		height: rem-calc(10);
		background: #000;
		width: 100%;
	}
	h3 {
		font-family: 'Roboto Slab';
		font-size: rem-calc(25);
		font-weight: 700;
	}
}

.sub-title {
	h3 {
		font-family: 'Roboto Slab';
		color: #fff;
		font-size: rem-calc(25);
		font-weight: 400;
		line-height: 1;
		margin-bottom: rem-calc(15);
		margin-top: rem-calc(15);
		span {
			background: #000;
			display: inline-block;
			padding: rem-calc(0 5 5);
		}
	}
}

.inl-block {
	display: inline-block;
	margin-right: rem-calc(103);
	&:last-child {
		margin-right: 0;
	}
}

.reveal {
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
}

.is-reveal-open {
	margin-right: rem-calc(15);
}

// .visible {
// 	visibility:visible;
// 	opacity:1;
// }
//
// .hidden {
// 	visibility:hidden;
// 	opacity:0;
//   transition:opacity 0.5s linear;
// }

.visible {
	display: block !important;
}

.visible-inline-block {
	display: inline-block;
}

.hidden {
	display: none !important;
}

.course-title {
	font-family: 'Roboto Slab';
	font-size: rem-calc(25);
	font-weight: 300;
	line-height: 1.05;
	margin-top: rem-calc(8);
	margin-bottom: rem-calc(46);
	min-height: 1px;
}

.other-date {
	display: inline-block;
	font-size: rem-calc(15);
	font-weight: 700;
	&:hover {
		text-decoration: underline;
	}
}

.separator {
	display: inline-block;
}

.ruble {
	font-weight: 500;
}

.infinity {

}

.off-canvas {
	background-color: #000;
	color: #fff;
	.close-button {
		font-size: rem-calc(30);
	}
	a, button, .button {
		color: #fff;
		font-size: rem-calc(20);
	}
	.icon {
		display: none;
	}
}

.no-events {
	min-height: rem-calc(400);
	font-size: rem-calc(25);
}

input[type='text'],
input[type='password'] {
	&.border-black {
		@include inputBorderBlack();
	}
}

.no-found {
	padding: rem-calc(10 0);
}

.tag {
	cursor: pointer;
}

.error {
	color: #ff0000;
	font-size: rem-calc(15);
}

.swiper-wrapper {
	padding-bottom: rem-calc(1);
	// @include breakpoint(small only) {
	// 	padding-bottom: 1px;
	// }
}

.buy {
	.lecture-item {
		&.hidden {
			display: block !important;
			visibility: hidden;
			position: absolute;
			// left: 0;
			max-width: 100%;
		}
	}
}

.line-through {
	text-decoration: line-through;
}

button {
	&.save {
		cursor: pointer;
	}
}

.m80 {
	margin-bottom: rem-calc(80);
}

@import './fix';
