.slides-perview-3 {
  .content {
    display: inline-block;
  }
}

.slider-nav {
  cursor: pointer;
  width: rem-calc(15);
  height: rem-calc(26);
}

.slider-button-next {
  background-image: url('../img/arrow_right.png');
  background-size: contain;
}

.slider-button-prev {
  background-image: url('../img/arrow_left.png');
  background-size: contain;
}
