.tag {
  display: inline-block;
  font-size: rem-calc(15);
  font-weight: 700;
  padding: rem-calc(3 9);
  line-height: 1;
  vertical-align: middle;
}

.title-with-color {
  h2 {
    font-family: 'Roboto Slab';
    font-size: rem-calc(28);
    font-weight: 700;
  }
  span {
    display: inline-block;
    width: rem-calc(20);
    height: rem-calc(20);
    margin-right: rem-calc(5);
  }
}
