extends layouts/error

block content
  main.main.page-error
    +containerFullX()
      .cell.large-offset-1.large-3.medium-offset-1.medium-14.small-offset-1.small-14
        .title-error
          h1= error.status
          .small ошибка
          
      .cell.large-offset-0.large-11.medium-offset-1.medium-14.small-offset-1.small-14
        h1= message
        - let isErrorObject = error instanceof Error;
        if (isErrorObject)
          h2= error.status
          pre #{error.stack}
        else
          +errorDescription()
