- 
  function sortingAndDecliningDays(dates) {
    const declensionsForPo = [
      'по воскресениям',
      'по понедельникам',
      'по вторникам',
      'по средам',
      'по четвергам',
      'по пятницам',
      'по субботам',
    ];

    const obj = {};
    
    dates.forEach((item) => {
      const date = moment(item.date);
      const index = date.day();
      obj[index] = Object.assign({}, item, { day: declensionsForPo[index], time: date.format('HH:mm') });
    });

    return Object.keys(obj).map((k) => obj[k]);
  }
