#offCanvasLeft.off-canvas.position-left(data-off-canvas)
  ul.menu.vertical
    +menuItem({link: '/', title: 'Главная'})
    each item in locals.app.mainMenu
      +menuItem(item)

    //- if currentPageData && currentPageData.user
    +menuItem(locals.app.userMenu.account, false, 'userIsLoggedNav', (currentPageData && currentPageData.user) ? '' : 'display: none')
    +menuItem(locals.app.userMenu.signOut, false, 'userIsLoggedNav', (currentPageData && currentPageData.user) ? '' : 'display: none')
    //- else
    +menuItem(locals.app.userMenu.signIn, false, 'userNoLoggedNav', (currentPageData && currentPageData.user) ? 'display: none' : '')(data-open='signInModal')

  button.close-button(aria-label='Close menu' type='button', data-close) ×
