- templateData = currentPageData.templateData || {};

script.
  var contactDetails = {
    address: !{templateData.contactOfficeAddress ? JSON.stringify(templateData.contactOfficeAddress).replace(/<\//g, "<\\/") : 'undefined'},
    phone: !{templateData.contactOfficePhone ? JSON.stringify(templateData.contactOfficePhone).replace(/<\//g, "<\\/") : 'undefined'},
  };
  var mapDetails = {
    center: !{templateData.contactMapCenter ? JSON.stringify(templateData.contactMapCenter).replace(/<\//g, "<\\/") : 'undefined'},
    placemark: !{templateData.contactMapPlacemark ? JSON.stringify(templateData.contactMapPlacemark).replace(/<\//g, "<\\/") : 'undefined'},
  };
  var IMAGE_HOST = !{JSON.stringify(IMAGE_HOST)};
  var FILE_HOST = !{JSON.stringify(FILE_HOST)};
  
script(src='/assets/js/vendor.js')
script(src='/assets/js/app.js')
  
if currentPageData && currentPageData.templateData && currentPageData.templateData.scriptBody
  |!{currentPageData.templateData.scriptBody}
    
block scripts

script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' defer onload='window.mapOnload()')
