.lectures-item {
  margin-bottom: rem-calc(95);
  &:last-child {
    margin-bottom: 0;
  }
  &.last {
    margin-bottom: 0;
  }
  .image {
    @include breakpoint(small only) {
      text-align: center;
      margin-bottom: rem-calc(15);
    }
    img {
      box-shadow: 0 3px 67px 4px rgba(0, 0, 0, 0.35);
    }
  }
  .tag {
    margin-right: rem-calc(12);
    @include breakpoint(small only) {
      .tag-title {
        font-size: rem-calc(20);
      }
    }
  }
  .item-title {
    margin-top: rem-calc(9);
    margin-bottom: rem-calc(11);
  }
  .anons {
    p {
      font-size: rem-calc(20);
      line-height: 1.25;
      margin-bottom: 0;
    }
    .more {
      color: #181818;
      font-size: rem-calc(26);
      font-weight: 900;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .description {
    margin-top: rem-calc(37);
    .title {
      font-family: 'Roboto Slab';
      font-size: rem-calc(25);
      font-weight: 700;
      line-height: 1.55;
      margin-bottom: rem-calc(35);
    }
  }
  // .date {
  //   @include breakpoint(small only) {
  //     float: right;
  //   }
  // }
  .time {
    @include breakpoint(small only) {
      vertical-align: sub;
      font-size: rem-calc(20);
    }
  }
  .date {
    @include breakpoint(small only) {
        vertical-align: middle;
    }
  }
}

.lectures-list {
  .lectures-item {
    margin-bottom: rem-calc(99);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(70);
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.last {
      margin-bottom: rem-calc(62);
    }
    .image {
      img {
        box-shadow: 0 3px 14px 1px rgba(0, 0, 0, 0.35);
      }
    }
    .more {
      font-size: rem-calc(20);
    }
    .date {
      font-size: rem-calc(15);
      font-weight: 700;
    }
  }
}
