.reveal, .form-default {
  font-family: 'Roboto Slab';
  line-height: 1;
  .close-button {
    font-size: 0;
    width: rem-calc(27);
    height: rem-calc(27);
    margin: rem-calc(7);
  }
  .title {
    h2 {
      color: #1e1e1f;
      font-size: rem-calc(30);
      font-weight: 700;
      line-height: 1;
      font-family: 'Roboto Slab';
      margin-bottom: rem-calc(21);
    }
  }
  &.reveal-s {
    width: rem-calc(520);
    padding: 0;
    padding-top: rem-calc(61);
    padding-bottom: rem-calc(28);
    @include breakpoint(small only) {
      width: auto;
    }
  }
  .reveal-inner {
    padding: rem-calc(0 87);
  }
  .social-button {
    padding-top: rem-calc(4);
    @include breakpoint(small only) {
      margin-top: rem-calc(30);
    }
    & > * {
      display: inline-block;
      margin-right: rem-calc(11);
      &:last-child {
        margin-right: 0;
        cursor: pointer;
      }
    }
  }
  label {
    font-size: rem-calc(17);
    font-weight: 400;
    margin-bottom: rem-calc(12);
    span {
      display: inline-block;
      margin-bottom: rem-calc(4);
    }
  }
  .remember {
    margin-bottom: rem-calc(20);
    padding-top: rem-calc(12);
    label {
      font-size: rem-calc(15);
      font-weight: 400;
      font-family: 'Roboto';
    }
  }
  .actions {
    & > * {
      display: inline-block;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .submit {
    color: #1e1e1f;
    font-size: rem-calc(30);
    font-weight: 700;
    line-height: 1;
    font-family: 'Roboto Slab';
    text-decoration: underline;
    margin-right: rem-calc(13);
    margin-bottom: rem-calc(30);
  }
  .forgot {
    color: #898989;
    font-size: rem-calc(20);
    font-weight: 300;
  }
  .actions-other {
    font-size: rem-calc(17);
    font-weight: 400;
    color: #878787;
    margin-top: rem-calc(10);
    @include breakpoint(small only) {
      margin-top: rem-calc(30);
    }
    & > * {
      margin-bottom: rem-calc(11);
      &:last-child {
        margin-bottom: 0;
      }
    }
    .sign-up {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  input[type="text"],
  input[type="password"]  {
    @include inputBorderBlack();
  }
  input[type="checkbox"] + label {
    margin: 0;
  }
}

#signInModal {
  .submit {
    margin-bottom: rem-calc(20);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(10);
    }
  }
}
