.search-container {
  width: 100%;
  position: absolute;
  width: 100%;
  top: -2px;
  &:before {
    content: '';
    background: #fff;
    height: 100%;
    position: absolute;
    left: rem-calc(-50);
    width: rem-calc(50);
    top:0;
    z-index: 0;
  }
  &:after {
    content: '';
    background: #fff;
    height: 100%;
    position: absolute;
    right: rem-calc(-50);
    width: rem-calc(50);
    top: 0;
    z-index: -1;
  }
  &.border-right {
    border-right: 1px solid #000;
  }
}
.search {
  // position: absolute;
  // width: 100%;
  // top: 0;
  .inner {
    position: relative;
  }
  .action {
    position: absolute;
    top: 0;
    right: 0;
    * > {
      background: transparent;
    }
    button {
      margin: rem-calc(2);
      padding: rem-calc(3);
      background: transparent;
      span {
        color: #000;
        font-weight: 400;
        // text-decoration: underline;
        font-size: rem-calc(18);
        display: inline-block;
        padding: rem-calc(0 3 0 1);
      }
      img {
        margin-top: rem-calc(-4);
        height: rem-calc(16);
        width: rem-calc(16);
      }
    }
    img {
      height: rem-calc(19);
    }
    .close {
      display: inline-block;
      cursor: pointer;
      font-size: rem-calc(32);
      line-height: 0;
      vertical-align: middle;
      margin-right: rem-calc(4);
      margin-top: rem-calc(2);
      @include breakpoint(small only) {
        margin-top: rem-calc(2);
      }
      @include breakpoint(medium only) {
        margin-top: 0;
      }
    }
  }
  input[name='query'] {
    padding-right: rem-calc(105);
  }
  .result {
    background: #eee;
    padding: rem-calc(0 10 0);
    box-shadow: 0 3px 14px 1px rgba(0, 0, 0, 0.35);
    z-index: 22;
    .lecture-title {
      font-weight: 700;
    }
    .course-title {
      font-size: rem-calc(15);
      margin: rem-calc(5 0 0);
      padding: 0;
    }
    .date-item {
      font-size: rem-calc(16);
      margin-bottom: rem-calc(10);
    }
    .title {
      line-height: 1;
    }
    .item {
      padding: rem-calc(10 0);
      border-bottom: 1px solid #333;
      display: inline-block;
      width: 100%;
      & > a {
        display: inline-block;
        width: 100%;
      }
      &:last-child {
        margin-bottom: rem-calc(10);
      }
    }
  }
  .lecturers-list {
    margin-top: rem-calc(12);
  }
  .lecturers-list, .locations-list {
    .lecturer-item, .location-item {
      .title {
        font-size: rem-calc(16);
      }
      .icon {
        width: rem-calc(12);
      }
    }
  }
  .locations-list {
    line-height: 1;
    .location-item {
      line-height: 1;
      .icon {
        width: rem-calc(10);
        vertical-align: top;
        margin-top: rem-calc(-5);
      }
    }
  }

}
