mixin errorDescription()
  .error-description.clearfix
    p
      |Упс, вы попали на секретную страницу «Синхронизации». Наш сайт ещё совсем новый и может иногда ошибаться. Будем очень рады, если вы свяжетесь с нами и опишете, как это произошло (например, как вы переходили по страницам и на какой странице появилась ошибка). За это вы сможете бесплатно посетить лекцию «Синхронизации».
    img(src='assets/img/body.jpg', alt='404').float-right
    p
      |Только вместе с вами мы сможем сделать наш продукт лучше!
      br
      |Для того, чтобы вернуться на главную страницу нажмите  
      a(href='/') сюда.

    .contact
      h2 
        |Наши контакты:
      p
        |Виктория
        br
        |E-mail: victoria.sergeeva@synchronize.ru
        br
        |Телефон: 89963230417, 84993914639
      
    
