mixin tagsListItem(item, active)
  .button.white-button.tag(data-tag-alias=item.alias class=active ? 'active' : '')= item.title

mixin tagsList(tags)
  .tags-list
    +tagsListItem({title: 'все темы', alias: 'all'}, true)
    each tag in tags
      +tagsListItem(tag)
