footer.footer
  .grid-container
    .grid-x.grid-margin-x
      .large-5.medium-5.large-offset-1.medium-offset-1.small-offset-1.small-14.cell
        .left
          +logo('assets/img/rus_1_w.svg')
          .description
            p
              |Читаем лекции по литературе,
              br
              |театру, кино и музыке, ходим вместе
              br
              |на выставки и спектакли, обсуждаем
              br
              |искусство за чашкой кофе.
          .copyright
            | © 2015-2017 Синхронизация
      .large-4.medium-4.medium-offset-0.large-offset-0.small-offset-1.small-14.cell
        +menu()
      .large-5.medium-5.medium-offset-0.large-offset-0.small-offset-1.small-14.cell
        h3 Узнавайте первыми о новых курсах и лекциях:
        +subscribeForm()
        .grid-x.grid-margin-x
          .large-8.medium-8.medium-offset-0.large-offset-0.small-offset-1.small-14.cell.text-left
            .social
              img(src="assets/img/social.png")
          .large-8.medium-8.medium-offset-0.large-offset-0.small-offset-1.small-14.cell.text-right
            .contacts
              |hello@synchronize.ru
              br
              |#{locals.app.phone}
      .small-offset-1.small-14.cell.show-for-small-only
        .copyright.text-center
          | © 2015-2017 Синхронизация
          
include ./scripts
