mixin menuItem(item, noImage)
  li  
    a(href=item.link, class=activeLink === item.link ? 'active' : '')&attributes(attributes)
      .line
      if item.image
        if (!noImage)
          .icon
            img(src=item.image)          
      .text #{item.title}
    
.main-menu
  ul.dropdown.menu.align-right(data-dropdown-menu)
    each item in locals.app.mainMenu
      +menuItem(item)
    if user
      li
        a(href='#')
          img(src=locals.app.userMenu.account.image)
            
        ul.menu.align-right
          +menuItem(locals.app.userMenu.account, true)
          +menuItem(locals.app.userMenu.signOut)
    else
      +menuItem(locals.app.userMenu.signIn)(data-open='signInModal')
  include ../components/signIn
