extends ../layouts/layout

block vars
  - activeLink = 'about.html';
  - page = 'about';
  
block title
  - let currentPageData = { allAboutPages: [ { title: 'О проекте', img1240x430: null, } ] }
  - let about = currentPageData.allAboutPages[0];
  title Синхронизация | #{about ? about.title : ''}

block content
  main.main.about-page
    .main-title
      +containerX()
        +blockTitle(about.title, true)
        .sub-title
          if (about.subTitle)
            |#{about.subTitle}
    
    .about
      .content
        +containerX()
          .block-one
            .image
              if about.img1240x430 && about.img1240x430 !== 'no-photo'
                img(src=`${IMAGE_HOST}/${about.img1240x430}/1240x430/${slugify(about.title)}.jpg`, alt=about.title)
              else
                //- img(src='/assets/img/no-photo-1240x430.png', alt=about.title)
                img(src='/assets/img/about.jpg', alt=about.title)
      
            p.description
              if (about.description)
                |!{about.description}
              else
                strong Синхронизация 
                |  – наш любимый способ познания окружающего мира. Мы разрабатываем и проводим лекции о кино, архитектуре, науке и многом другом.
                
          .block-two
            .grid-x.small-up-1.medium-up-3.large-up-3.text-center
              .cell
                .content
                  .title
                    h2
                      span.icon.man
                      span.text
                        if (about.title1)
                          |#{about.title1}
                        else
                          |Синхронизация с самим собой
                  .text
                    p
                      if (about.description1)
                        |!{about.description1}
                      else
                        |Способность чувствовать свои интересы и развивать их.
              .cell
                .content
                  .title
                    h2
                      span.icon.globus
                      span.text
                        if (about.title2)
                          |#{about.title2}
                        else
                          |Синхронизация с миром
                  .text
                    p
                      if (about.description2)
                        |!{about.description2}
                      else
                        |Желание познавать мир во всем его многообразии, от точных наук до искусства.
              .cell
                .content
                  .title
                    h2
                      span.icon.people
                      span.text
                        if (about.title3)
                          |#{about.title3}
                        else
                          |Синхронизация с людьми
                  .text
                    p
                      if (about.description3)
                        |!{about.description3}
                      else
                        |Возможность реализации в кругу единомышленников и друзей.
                        
        .block-three  
          +containerX()
            +blockTitle(about.titleFigures || 'Проект в цифрах', false, 'h10', 'less')
          .figures.text-center
            +containerX()
              .grid-x.grid-margin-x
                .cell.large-shrink.medium-shrink.small-16
                  .fig.red
                    |#{about.fig1 || 2}
                  .caption.black
                    |#{about.caption1 || 'года работы'}
                .cell.large-auto.medium-auto.small-16
                  .fig.blue
                    |#{about.fig2 || 7000}
                  .caption.brown
                    |#{about.caption2 || 'слушателей'}
                .cell.large-auto.medium-auto.small-16
                  .fig.black
                    |#{about.fig3 || 200}
                  .caption.red
                    |#{about.caption3 || 'лекций'}
                .cell.large-shrink.medium-shrink.small-16
                  .fig.red
                    |#{about.fig4 || 30}
                  .caption.blue
                    |#{about.caption4 || 'лекторов'}
        
        .block-four
          +containerX()
            +blockTitle(about.titleImportant || 'Самое главное для нас', false, 'h10', 'less')
            .importans
              h3
                span
                  |#{about.subTitleImportant1 || 'Любознательность'}
              p.description
                if (about.descriptionImportant1)
                  |!{about.descriptionImportant1}
                else
                  |Мы живем в интересное и насыщенное время. Искусство, технологии и ритм жизни позволяют осознанно подходить к выбору интересов и развиваться ради процесса, а не ради результата. 
                  strong Мы работаем, чтобы вы могли объять необъятное.
              
              h3
                span
                  |#{about.subTitleImportant2 || 'Вовлеченность'}
              p.description
                if (about.descriptionImportant2)
                  |!{about.descriptionImportant2}
                else
                  |Edutainment нравится нам тем, что объединяет самых разных людей с одной общей целью – саморазвитие. 
                  strong Здесь все добровольно и на равных – и организаторы, и лекторы, и слушатели. 
                
              h3
                span
                  |#{about.subTitleImportant3 || 'Удобство'}
              p.description
                if (about.descriptionImportant3)
                  |!{about.descriptionImportant3}
                else
                  |Чтобы знания давались легко, мы стараемся организовать процесс максимально комфортно для посетителей. Выбираем 
                  strong лучших лекторов, 
                  |ищем 
                  strong актуальные темы 
                  |и инсайты, разрабатываем 
                  storng структуру
                  |лекций и даем вам возможность сделать выводы и найти 
                  strong свой взгляд на тему.
              
              .text-center  
                +buttonLink('Выбрать лекцию', '/shedule')
          
          .block-five
            +containerX()
              +blockTitle(about.titleTeam || 'Наша команда', false, 'h10', 'less')
              .team
                .grid-c3
                  .grid-container
                    .grid-x.small-up-1.medium-up-3.large-up-3
                      .cell
                        .lecturer-block
                          .content
                            .inner
                              .image
                                img(src='/assets/img/lobanov.jpg', alt='Андрей Лобанов')
                              .line
                              .title
                                |Андрей Лобанов
                              .skills
                                |основатель проекта
                      .cell
                        .lecturer-block
                          .content
                            .inner
                              .image
                                img(src='/assets/img/udina.jpg', alt='Мария Юдина')
                              .line
                              .title
                                |Мария Юдина
                              .skills
                                |директор проекта
                      .cell
                        .lecturer-block
                          .content
                            .inner
                              .image
                                img(src='/assets/img/chuvorkina.jpg', alt='Ольга Чуворкина')
                              .line
                              .title
                                |Ольга Чуворкина
                              .skills
                                |куратор образовательных программ
                      .cell
                        .lecturer-block
                          .content
                            .inner
                              .image
                                img(src='/assets/img/chuvorkina.jpg', alt='Анна Седова')
                              .line
                              .title
                                |Анна Седова
                              .skills
                                |редактор, менеджер проекта
                      .cell
                        .lecturer-block
                          .content
                            .inner
                              .image
                                img(src='/assets/img/marlenova.jpg', alt='Дженнет Марленова')
                              .line
                              .title
                                |Дженнет Марленова
                              .skills
                                |куратор Синхроклуба                        
                      .cell
                        .lecturer-block
                          .content
                            .inner
                              .image
                                img(src='/assets/img/spesivceva.jpg', alt='Анастасия Спесивцева')
                              .line
                              .title
                                |Анастасия Спесивцева
                              .skills
                                |менеджер по коммуникациям
                      .cell
                        .lecturer-block
                          .content
                            .inner
                              .image
                                img(src='/assets/img/chukaeva.jpg', alt='Анна Чукаева')
                              .line
                              .title
                                |Анна Чукаева
                              .skills
                                |идейный вдохновитель
        
        .block-six
          .thanks
            +containerX()
              h2
                span
                  |#{about.titleThanks || 'Люди, без которых бы ничего не случилось'}
              .grid-x
                - let a = ['Юлия Ширина', 'Екатерина Мицкевич', 'Шакир Ибрагимов', 'Михаил Лебедев', 'Ольга Леонова', 'Юлия Ширина', 'Екатерина Мицкевич', 'Шакир Ибрагимов', 'Михаил Лебедев', 'Ольга Леонова']

                - let peopleThanks = arrayGroup(about.peopleThanks || a, 5);

                each persons in peopleThanks
                  .cell.shrink
                    .content
                      each person in persons
                        div= person
            
                        
    include ../components/contacts      
block scripts
