extends ../layouts/layout

block vars
  - activeLink = 'catalog.html';

block title
  title Синхронизация | #{pages.catalog.title}

block content
  main.main.catalog-page 
    .main-title
      +containerX()
        +blockTitle(pages.catalog.title, true)
    
    +containerX()
      +filterList(tags)
      
    .catalog
      .content
        +sortableLectures(catalog.lectures)
    
    .main-title
      +containerX()
        +blockTitle(pages.archive.title)
    
    +containerX()
      +filterList(tags)

    .catalog.archive
      .content
        +sortableLectures(catalog.archive, true)
    
    include ../components/contacts
block scripts
  script(src='assets/js/catalog.js')
