extends ../layouts/layout

block vars
  - activeLink = 'certificate.html';

block title
  - let certificate = pages.certificate;
  title Синхронизация | #{certificate.title}

block content
  main.main.certificate-page 
    .main-title
      +containerX()
        +blockTitle(certificate.title, true)
      
    .content
      +containerX()
        .description
          p= certificate.description
      +containerX()
        .text-center
          .image
            img(src=certificate.image, alt=certificate.title)
      .certificate-items
        .show-for-small-only
          +containerX()
            each item in certificate.items
              .certificate-item
                .lectures-quantity
                  - let quantity = item.quantity;
                  if (quantity > 0)
                    |#{quantity}
                    |&nbsp;#{declOfNum(quantity, ['лекция', 'лекции', 'лекций'])}:&nbsp;
                  else
                    |безлимит
                +separator()
                .price
                  |#{item.price} 
                  +ruble()
            div
              +buttonGift('Подарить')(data-qnt=1, data-open='buyCertModal', class='buy-other-button')
        .hide-for-small-only
          +containerX()
            .grid-c3
              +containerClearGridX({ small: 1, medium: 3, large: 3})
                each item in certificate.items
                  .cell
                    .certificate-item
                      .lectures-quantity
                        - let quantity = item.quantity;
                        if (quantity > 0)
                          |#{quantity}
                          |&nbsp;#{declOfNum(quantity, ['лекция', 'лекции', 'лекций'])}
                        else
                          |безлимит
                      +separator()
                      .price
                        |#{item.price} 
                        +ruble()
                      div
                        +buttonGift('Подарить')(data-qnt=quantity, data-open='buyCertModal', class='buy-other-button')
                    
      .certificate-rules
        +containerX()
          +blockTitle('Правила', false, 'h12', 'less')
        +containerFullX()
          +cellOffset(7, 1)(class='large-offset-0 small-offset-1 small-14')
            ul
              each rule, index in certificate.rules
                if (index < 2)
                  - rule = rule.replace('#{locals.app.phone}', locals.app.phone);
                  - rule = rule.replace('#{locals.app.email}', locals.app.email);
                  +liCircle(rule)
          +cell(7)(class='large-offset-0 small-offset-1 small-14')
            ul
              each rule, index in certificate.rules
                if (index > 1)
                  - rule = rule.replace('#{locals.app.phone}', locals.app.phone);
                  - rule = rule.replace('#{locals.app.email}', locals.app.email);
                  +liCircle(rule)
        
      .certificate-gift
        +containerX()
          +blockTitle(certificate.subTitle, false, 'h12', 'less')
        +containerFullX()
          +cellOffset(9, 1)(class='small-offset-1 small-14')
            ul
              each gift in certificate.gifts
                +liCircle(gift)
            h3.em= certificate.em
            .max
              .infinity
                img(src='assets/img/infinity.png', alt='Бесконечность')
              .lecture лекций 
              .plus &nbsp;+&nbsp;
              .champagne
                img(src='assets/img/champagne.png')
              +separator()
              .price
                |#{certificate.infinity} 
                +ruble()
              +buttonGift('Подарить')(data-qnt='all', data-open='buyCertModal', class='buy-other-button')
            
          +cell(5)(class='large-offset-0 small-offset-1 small-14 hide-for-small-only')
            .decor
              img(src=certificate.decor, alt=certificate.title)
          
    +buyCertModal(certificate.items, certificate.infinity)
    include ../components/contacts
    
block scripts
  script(src='assets/js/certificate.js')
