extends ../layouts/layout

block title
  title Синхронизация

block content
  main.main.home-page
    include ../components/promo
    include ../components/recomendation
    include ../components/lecturers
    include ../components/howWork
    include ../components/schedule
    include ../components/gallery
    include ../components/reviews
    include ../components/locations
    include ../components/partners
    include ../components/contacts

block scripts
  script(src='assets/js/index.js')
