extends ../layouts/layout

block vars
  - activeLink = 'catalog.html';
  - page = 'lecture';

block title
  - let lecture = pages.lecture;
  title Синхронизация | #{lecture.title}

block content
  main.main.lecture-page 
    .main-title
      +containerX()
        +blockTitle(lecture.title, true)
        .course-title
          if (lecture.course)
            |Курс #{lecture.course}
            
    .lecture
      .content
        +containerX()
          .image
            .hide-for-small-only
              img(src=lecture.image, alt=lecture.title)
            .show-for-small-only
              img(src=lecture.imageMobile, alt=lecture.title)
        +navStikyAnchors('lecture')
        
        //- +containerX()
        //-   .show-for-small-only
        //-     +whenWhereHow(lecture)
            
        #lectures.anchor-point
          +containerFullX()
            +cell10Off1()
              .description
                p= lecture.description
              .themes
                ul
                  each theme in lecture.themes
                    li
                      p= theme
            +cell4()
              //- .show-for-small-only
              //-   .append-for-small-button.text-center
              //-     +buttonBuy('Купить', '#buy')(class='anchor')
              //- .hide-for-small-only
              +whenWhereHow(lecture)
                
      include ../components/howWorkLecture
      
      #lecturers.anchor-point
        +containerX()
          - let lecturersMany = lecture.lecturers.length > 1;
          if (lecturersMany)
            +blockTitle('Лекцию ведут', false, 'h10', 'less')
          else
            +blockTitle('Лекцию ведет', false, 'h10', 'less')
            
        +lecturersList(lecture.lecturers, true)
        
      #reviews.anchor-point
        include ../components/reviewsLecture
      
      +buyLecture(lecture)
      
      include ../components/recomendationLecture
      
      include ../components/contacts
          
block scripts
  script(src='assets/js/templates/participant.js')
  script(src='assets/js/lecture.js')
