extends ../layouts/layout

block vars
  - activeLink = 'lecturers.html';
  - lecturesLimit = 3;

block title
  - let lecturer = pages.lecturer;
  title Синхронизация | #{lecturer.title}

block content
  main.main.lecturer-page 
    .main-title
      +containerX()
        +blockTitle(lecturer.title, true)
    .lecturer
      .content
        - let fullName = `${lecturer.firstName} ${lecturer.lastName}`
        +containerX()
          +title(fullName)
        +containerFullX()
          +cell4Off1()
            .image
              img(src=lecturer.image, alt=fullName)
          +cell10()
            .anons
              p= lecturer.anons
            .description
              p= lecturer.description
            .specialization
              p= lecturer.specialization
            
    +containerX()
      +blockTitleClear(`Лекции ${lecturer.mutation}`)
    +lecturesList(lecturer.lectures, 3)

    
    include ../components/reviews
        
    include ../components/contacts
block scripts
  script(src='assets/js/lecturer.js')
