extends ../layouts/layout

block vars
  - activeLink = 'order.html';
  - page = 'order';
  
block title
  - let order = pages.order;
  title Синхронизация | #{order.title}

block content
  main.main.order-page
    .main-title
      +containerX()
        +blockTitle(order.title, true)
        .sub-title
          if (order.subTitle)
            |#{order.subTitle}
        
    .order
      .content
        +containerX()
          .part.participant
            h2 Проездной
            .value
              |5 лекций
          .part.price
            h2 Сумма заказа
            .value
              | 4000 руб.
          .part.price
            h2 Персональные данные
            .value
              | Иванов
              br
              | Иван
              br
              | Иванович
              br
              | ivan@mail.ru
              br
              | +7(999)-888-77-66

        +containerX()
          .actions
            +buttonBuy('Купить проездной')
            
    include ../components/contacts
    
block scripts
