extends ../layouts/layout

block vars
  - activeLink = 'reset-pass.html';
  - page = 'resetPass';
  
block title
  -let currentPageData = { title: 'Сброс пароля', error: false, fail: false, success: true };
  - let resetPass = currentPageData;
  title Синхронизация | #{resetPass.title}

block content
  main.main.reset-page
    .main-title
      +containerX()
        +blockTitle()
      +containerFullX()   
        +cellOffset(6, 5)
          .block-title
            h1= resetPass.title || 'Сброс пароля'
          .sub-title
            if (resetPass.subTitle)
              |#{resetPass.subTitle}
        
    .reset-pass.form-default
      .content
        +containerFullX()   
          +cellOffset(6, 5)
            form(action='/users/update-pass', method='post', data-abide, novalidate, data-href='/')
              label Новый пароль
                input#password(type='password', name='password', required, pattern='password')
              label Повторите новый пароль
                input(type='password', name='repassword', required, data-equalto='password', pattern='password')
              input(type='hidden', name='checkToken', value=resetPass.checkToken, required)
              .form-error
              p.error
                if (resetPass.fail)
                  | Неудалось сохранить новый пароль, проверьте введенные данные
                  
              .actions
                button(type='submit').submit Сохранить
                
            
    //- include ../components/contacts      
block scripts
