extends ../layouts/layout

block vars
  - activeLink = 'subscription.html';

block title
  - let subscription = pages.subscription;
  title Синхронизация | #{subscription.title}

block content
  main.main.subscription-page 
    .main-title
      +containerX()
        +blockTitle(subscription.title, true)
      
    .content
      +containerX()
        .description
          p= subscription.description
        
        +subTitle(subscription.subTitle, true)
        
      each item in subscription.items
        .subscription-item
          +containerFullX()
            +cellOffset(7, 1)(class='medium-offset-1 medium-5 small-offset-1 small-14')
              .show-for-small-only
                .mobile-title
                  .pos-relative
                    .title
                      h3= item.title
                    .line     
              .image
                img(src=item.image, alt=`${subscription.title} - ${item.title}`)
            +cellOffset(6, 1)(class='medium-offset-1 medium-8 small-offset-1 small-14')
              .content
                .hide-for-small-only
                  .pos-relative
                    .title
                      h3= item.title
                    .line                                  
                .subscription-content
                  .lectures-quantity
                    - let quantity = item.quantity;
                    if (quantity > 0)
                      |#{quantity}
                      |&nbsp;#{declOfNum(quantity, ['лекция', 'лекции', 'лекций'])}
                    else
                      |безлимит
                  +separator()
                  .price
                    |#{item.price} 
                    +ruble()
                  .validity
                    |действителен #{item.validity} 
                    |&nbsp;#{declOfNum(item.validity, ['месяц', 'месяца', 'месяцев'])}
                  //- .economy
                  //-   - let economy = item.economy;
                  //-   |(экономия 
                  //-   if (economy > 0)
                  //-     strong= economy
                  //-     | 
                  //-     +ruble()
                  //-   else
                  //-     span.infinity
                  //-       img(src='assets/img/infinity.png', alt='Бесконечность')
                  //-   |)
                  +buttonBuySimple('Купить')(data-qnt=quantity, data-open='buySubsModal', class='buy-other-button')
                  
    +buySubsModal(subscription.items)
    
    include ../components/contacts
    
block scripts
  script(src='assets/js/certificate.js')
