extends ../layouts/layout

block vars
  - activeLink = currentPageData.activeLink;
  - page = currentPageData.page;
  
block title
  title Синхронизация | #{currentPageData.title || 'Платеж отклонен'}

block content
  main.main.agreement-page
    .main-title
      +containerX()
        +blockTitle(currentPageData.title || 'Платеж отклонен', true)
        .sub-title
          if (currentPageData.subTitle)
            |#{currentPageData.subTitle}
        
    .agreement
      .content
        +containerX()
          .description
            p= currentPageData.description
          .actions
            a(href='/account') Перейти в аккаунт
    //- include ../components/contacts      
block scripts
