extends ../layouts/layout

block vars
  - activeLink = '/order';
  - page = 'order';
  - let { userAnOrder, subscription, order, acquiring, paymentId } = currentPageData;
  
block title
  title Синхронизация | #{pages.order.title}

block content
  main.main.order-page
    .main-title
      +containerX()
        +blockTitle(pages.order.title, true)
        .sub-title
          if (pages.order.subTitle)
            |#{pages.order.subTitle}
        
    .order
      .content
        +containerX()
          .part.participant
            h2 Проездной
            .value
              |#{subscription.title}
          .part.price
            h2 Сумма заказа
            .value
              | #{order.totalPrice} руб.
          .part.price
            h2 Персональные данные
            .value
              | #{userAnOrder.lastName}
              //- br
              //- | #{userAnOrder.secondName}
              br
              | #{userAnOrder.firstName}
              br
              | #{userAnOrder.email}
              br
              | #{userAnOrder.phone}

        +containerX()
          .error.error-order
          .actions
            if (paymentId)
              form(action='/payments/subscription', method='POST').not-check
                input(type='hidden', name='id', value=paymentId)
                +buttonBuySimpleSubmit('Купить проездной')
            else
              form(action='/subscription/payment', method='POST').not-check
                input(type='hidden', name='id', value=currentPageData.id)
                +buttonBuySimpleSubmit('Купить проездной')
        
    include ../components/contacts
    
block scripts
  script(src='/assets/js/orderSubs.js')
