extends ../layouts/layout

block vars
  - activeLink = '/order';
  - page = 'order';
  - let { checkResults: { resultOfChecking, resultOfCalcOrder } } = currentPageData;
  
block title
  title Синхронизация | #{pages.order.title}

block content
  main.main.order-page
    .main-title
      +containerX()
        +blockTitle(pages.order.title, true)
        .sub-title
          if (pages.order.subTitle)
            |#{pages.order.subTitle}
        
    .order
      .content
        +containerX()
          h2.error Невозможно произвести данный заказ
          if (resultOfChecking)
            if (resultOfChecking.EntityNoPublic)
              p Материал снят с публикации.
              
            if (resultOfChecking.allEventsNoTicketsAvailable)
              p Нет достаточного количества билетов:
                each item in resultOfChecking.allEventsNoTicketsAvailable
                  br
                  span !{`${title} ${moment(date).format('LLLL')}`}
            
            if (resultOfChecking.DiscountsWithErrors)
              p Скидки не доступны.
              ul
                each discount in resultOfChecking.DiscountsWithErrors
                  li= discount.title
              
            if (resultOfChecking.PromocodeWithErrors)
              p Промокод не доступен.
              ul
                li= resultOfChecking.PromocodeWithErrors.title
              
            if (resultOfChecking.PromocodesWithErrors)
              p Промокод не доступен.
              ul
                each promocode in resultOfChecking.PromocodesWithErrors
                  li= promocode.title
              
          if (resultOfCalcOrder)
            p Сумма заказа расчитана не верно.
            p Итоговая сумма !{resultOfCalcOrder.totalPrice}
            
    include ../components/contacts
    
block scripts
  script(src='/assets/js/order.js')
