extends ../layouts/simple

block title
  title Синхронизация

block content
  //- Терминал 1513362154768DEMO 
  //- Пароль d436w92b9zcqpnq2
  //- main.main.home-page
  //- style.
  //-     .tinkoffPayRow{display:block;margin:1%;width:160px;}
  //- script(src='https://securepay.tinkoff.ru/html/payForm/js/tinkoff.js')
  //- form(name='TinkoffPayForm', onsubmit='pay(this); return false;')
  //-   input.tinkoffPayRow(type='hidden', name='terminalkey', value='1513362154768DEMO')
  //-   input.tinkoffPayRow(type='hidden', name='frame', value='true')
  //-   input.tinkoffPayRow(type='hidden', name='language', value='ru')
  //-   input.tinkoffPayRow(type='text', placeholder='Success URL', name='successurl', value='http://localhost:3000/test', required)
  //-   input.tinkoffPayRow(type='text', placeholder='Сумма заказа', name='amount', value='1000', required)
  //-   input.tinkoffPayRow(type='text', placeholder='Номер заказа', name='order', value=id)
  //-   input.tinkoffPayRow(type='text', placeholder='Описание заказа', name='description', value='Тестовый платеж')
  //-   input.tinkoffPayRow(type='text', placeholder='ФИО плательщика', name='name', value='Викторов Вячеслав Сергеевич')
  //-   input.tinkoffPayRow(type='text', placeholder='E-mail', name='email', value='ss.viktorov@yandex.ru')
  //-   input.tinkoffPayRow(type='text', placeholder='Контактный телефон', name='phone', value='79196669480')
  //-   input.tinkoffPayRow(type='submit', value='Оплатить')

  main.main.home-page
  style.
      .tinkoffPayRow{display:block;margin:1%;width:160px;}
  script(src='https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js')
  form(name='TinkoffPayForm', onsubmit='pay(this); return false;')
    input.tinkoffPayRow(type='hidden', name='terminalkey', value='1513362154768DEMO')
    input.tinkoffPayRow(type='hidden', name='frame', value='false')
    input.tinkoffPayRow(type='hidden', name='language', value='ru')
    input.tinkoffPayRow(type='text', placeholder='Success URL', name='successurl', value='http://localhost:3000/test', required)
    input.tinkoffPayRow(type='text', placeholder='Сумма заказа', name='amount', value='1000', required)
    input.tinkoffPayRow(type='text', placeholder='Номер заказа', name='order', value=id)
    input.tinkoffPayRow(type='text', placeholder='Описание заказа', name='description', value='Тестовый платеж')
    input.tinkoffPayRow(type='text', placeholder='ФИО плательщика', name='name', value='Викторов Вячеслав Сергеевич')
    input.tinkoffPayRow(type='text', placeholder='E-mail', name='email', value='ss.viktorov@yandex.ru')
    input.tinkoffPayRow(type='text', placeholder='Контактный телефон', name='phone', value='79196669480')
    input.tinkoffPayRow(type='submit', value='Оплатить')

  //- style.
  //-     .tinkoffPayRow{display:block;margin:1%;width:160px;}
  //- script(src='https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js')
  //- form(name='TinkoffPayForm', onsubmit='pay(this); return false;')
  //-     //- input.tinkoffPayRow(type='hidden', name='terminalkey', value='1513362154768DEMO')
  //-     input.tinkoffPayRow(type='hidden', name='terminalkey', value='1519151569828')
  //-     input.tinkoffPayRow(type='hidden', name='frame', value='true')
  //-     input.tinkoffPayRow(type='hidden', name='language', value='ru')
  //-     input.tinkoffPayRow(type='text', placeholder='Сумма заказа', name='amount', value='10', required='')
  //-     input.tinkoffPayRow(type='text', placeholder='Номер заказа', name='order', value=id)
  //-     input.tinkoffPayRow(type='text', placeholder='Описание заказа', name='description',  value='Тестовый платеж')
  //-     input.tinkoffPayRow(type='text', placeholder='ФИО плательщика', name='name', value='Викторов Вячеслав Сергеевич')
  //-     input.tinkoffPayRow(type='text', placeholder='E-mail', name='email', value='ss.viktorov@yandex.ru')
  //-     input.tinkoffPayRow(type='text', placeholder='Контактный телефон', name='phone', value='79196669480')
  //-     input.tinkoffPayRow(type='hidden', name='receipt', value='{"Email": "ss.viktorov@yandex.ru",\
  //-     "Phone": "+79196669480","Taxation": "usn_income","Items": [ {"Name": "Билеты на лекцию",\
  //-     "Price": 1000,"Quantity": 1.00,"Amount": 1000,"Tax": "none" }]}')
  //- 
  //-     input.tinkoffPayRow(type='submit', value='Оплатить')



//- block scripts
//-   script(src='/assets/js/index.js')
