.page-error {
  .title-error {
    display: inline-block;
    margin-top: rem-calc(67);
    @include breakpoint(medium down) {
      display: block;
      width: 100%;
      text-align: center;
      h1 {
        display: block;
        width: 100%;
        text-align: center
      }
      .small {
        width: 100%;
        display: block;
        text-align: center
      }
    }
    h1 {
      font-family: "Roboto Slab";
      font-size: rem-calc(126);
      font-weight: 700;
      line-height: 0.7;
      margin: 0;
    }
    .small {
      line-height: 1;
      font-family: "Roboto Slab";
      font-size: rem-calc(32);
      font-weight: 700;
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
  .error-description {
    margin-top: rem-calc(65);
    img {
      margin-top: rem-calc(-30);
      @include breakpoint(meidum down) {
        margin-top: rem-calc(0);
      }
      @include breakpoint(small down) {
        display: none;
      }
    }
    p {
      &:first-child {
        margin-bottom: 0;
      }
    }
    p {
      font-family: "Roboto";
      font-size: rem-calc(20);
      line-height: 1.85;
    }
    a {
      font-weight: 700;
      text-decoration: underline;
    }
    h2 {
      font-family: "Roboto";
      font-size: rem-calc(20);
      margin-bottom: 0;
      font-weight: 700;
      line-height: 1.85;
    }
    .contact {
      margin-top: rem-calc(220);
      @include breakpoint(medium down) {
        margin-top: rem-calc(330);
      }
      @include breakpoint(small down) {
        margin-top: rem-calc(30);
      }
    }
  }
}
