.account-page {
  h1 {
    .action {
      color: #898989;
      font-size: rem-calc(25);
      font-weight: 300;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.account {
  .avatar {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: rem-calc(25 12);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(20);
    }
    &.avatar-text {
      font-size: rem-calc(67);
      font-weight: 400;
      font-family: 'Roboto Slab';
      line-height: 1;
      @include breakpoint(medium down) {
        font-size: rem-calc(50);
      }
      @include breakpoint(small down) {
        font-size: rem-calc(40);
      }
    }
  }
  .user {
    margin-top: rem-calc(74);
    margin-bottom: rem-calc(82);
  }
  .profile {
    &.edit {
      margin-top: rem-calc(-4);
      .part {
        margin-bottom: rem-calc(7);
      }
      input {
        height: rem-calc(26);
        font-size: rem-calc(18);
      }
    }
    .part {
      margin-bottom: rem-calc(11);
      font-size: rem-calc(20);
      line-height: 1;
    }
  }
  .lectures-list {
    margin-top: rem-calc(34);
    margin-bottom: rem-calc(17);
    .head {
      font-size: rem-calc(25);
      font-weight: 700;
      margin-bottom: rem-calc(10);
    }
    .lecture {
      line-height: 1.35;
      @include breakpoint(small only) {
        padding: rem-calc(18 0 18);
      }
      .inner {
        padding: rem-calc(18 0 18);
        @include breakpoint(small only) {
          padding: 0;
        }
      }
      .cell {
        border-top: 1px solid #666666;
        @include breakpoint(small only) {
          border: none;
        }
      }
    }
    .mid {
      position: relative;
      &:after {
        content: '';
        background: #666666;
        width: 100%;
        height: 1px;
        display: block;
        position: absolute;
        top: -1px;
        left: rem-calc(-100);
        @include breakpoint(small only) {
          display: none;
        }
      }
      &:before {
        content: '';
        background: #666666;
        width: 100%;
        height: 1px;
        display: block;
        position: absolute;
        top: -1px;
        right: rem-calc(-100);
        @include breakpoint(small only) {
          display: none;
        }
      }
    }
  }
  .actions {
    margin-top: rem-calc(4);
  }
  .button {
    font-size: rem-calc(15);
    font-weight: 400;
    line-height: 1;
    padding: 0;
    margin: 0;
    padding: rem-calc(0 3 2);
    margin-bottom: rem-calc(7);
    &.paid {
      background-color: #3a8759;
    }
    &.load-ticket {
      background-color: #000;
    }
    &.cancel {
      background-color: #ff0000;
    }
    &.review {
      background-color: #0030ff;
    }
    &.load-presentation {
      background-color: #696b70;
    }
  }
}
