.certificate-page {
  .button-gift {
    @include breakpoint(small only) {
      padding-top: rem-calc(22);
      padding-bottom: rem-calc(26);
      display: block;
      font-size: rem-calc(35);
    }
    @include breakpoint(medium only) {
      padding-top: rem-calc(22);
      padding-bottom: rem-calc(26);
    }
  }

  .description {
    font-size: rem-calc(25);
    margin-top: rem-calc(15);
  }
  .image {
    margin-top: rem-calc(43);
    margin-bottom: rem-calc(27);
    img {
      box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.3);
    }
  }
  .certificate-items {
    @include breakpoint(small only) {
      margin-top: rem-calc(20);
      margin-bottom: rem-calc(30);
    }
  }
  .certificate-item {
    display: inline-block;
    text-align: center;
    @include breakpoint(small only) {
      display: block;
      margin-bottom: rem-calc(25);
    }
    .lectures-quantity, .separator, .price {
      display: inline-block;
      line-height: 1;
      font-family: 'Roboto Slab';
      font-size: rem-calc(40);
      @include breakpoint(small only) {
        // display: block;
        font-size: rem-calc(35);
      }
    }
    .separator {
      @include breakpoint(medium down) {
        display: none;
      }
    }
    .lectures-quantity {
      font-weight: 700;
    }
    .price {
      font-size: rem-calc(45);
      font-weight: 400;
      @include breakpoint(small only) {
        font-size: rem-calc(40);
      }
    }
    .button-gift {
      margin-top: rem-calc(32);
      margin-bottom: rem-calc(49);
    }
  }
  .certificate-rules {
    @include breakpoint(small only) {
      padding-bottom: rem-calc(48);
    }
  }
  ul {
    margin: 0;
    padding: rem-calc(28 0 48 0);
    @include breakpoint(small only) {
      padding-bottom: rem-calc(0);
    }
    li {
      list-style: none;
      font-size: rem-calc(25);
      padding-left: rem-calc(16);
      position: relative;
      .circle {
        position: absolute;
        left: 0;
      }
    }
  }
  .certificate-gift {
    h3 {
      margin-bottom: rem-calc(3);
    }
    ul {
      padding-bottom: rem-calc(26);
    }
  }
  h3.em {
    line-height: 1;
    font-family: 'Roboto';
    font-size: rem-calc(25);
    font-weight: 700;
  }
  .max {
    @include breakpoint(small only) {
      padding: rem-calc(10 0 30);
      margin-bottom: rem-calc(20);
      text-align: center;
    }
    @include breakpoint(medium only) {
      padding: rem-calc(10 0 30);
      margin-bottom: rem-calc(20);
    }
    & > * {
      display: inline-block;
      vertical-align: bottom;
      line-height: 1;
    }
    .separator {
      @include breakpoint(small only) {
        display: none;
      }
    }
    .champagne {
      @include breakpoint(small only) {
        width: rem-calc(30);
      }
      @include breakpoint(1300px down) {
        width: rem-calc(30);
      }
    }
    .lecture {
      font-family: 'Roboto Slab';
      font-size: rem-calc(40);
      font-weight: 700;
      @include breakpoint(1300px down) {
        font-size: rem-calc(35);
      }
      // @include breakpoint(small only) {
      //   font-size: rem-calc(25);
      // }
    }
    .plus, .separator, .price {
      font-family: 'Roboto Slab';
      font-size: rem-calc(45);
      font-weight: 400;
      // @include breakpoint(small only) {
      //   font-size: rem-calc(40);
      // }
    }
    .price {
      @include breakpoint(small only) {
        text-align: center;
        display: block;
        margin: rem-calc(5 0);
        text-align: center;
        // margin-left: rem-calc(10);
        font-size: rem-calc(45);
      }
    }
    .button-gift {
      margin-bottom: rem-calc(-4);
      @include breakpoint(small only) {
        display: block;
        margin: rem-calc(10 0);
        font-size: rem-calc(35);
      }
      @include breakpoint(medium only) {
        margin-bottom: rem-calc(-15);
      }
    }
    .infinity {
      margin-right: rem-calc(14);
      // @include breakpoint(small only) {
      //   width: rem-calc(40);
      // }
      @include breakpoint(1300px down) {
        width: rem-calc(40);
      }
      img {
        padding-bottom: rem-calc(4);
      }
    }
    .ruble {
      margin-right: rem-calc(26);
      @include breakpoint(small only) {
        margin-right: 0;
      }
    }
  }
  .decor {
    margin-top: rem-calc(-26);
    @include breakpoint(small only) {
      margin-top: 0;
    }
    @include breakpoint(medium only) {
      margin-top: 0;
      text-align: right;
    }
  }
}

.buy-others {
  .items {
    margin-bottom: rem-calc(20);
  }
  .profile-items {
    margin-bottom: rem-calc(50);
  }
  .actions {
    & > * {
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
    .button-buy {
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .qnt {
    padding-top: rem-calc(3);
    &.active {
      border: 1px solid #000;
      background: #000;
      label, input {
        color: #fff;
        font-weight: 700;
      }
    }
    label, input {
      margin: rem-calc(0 0 0 10);
      padding: 0;
      line-height: 1.2;
    }
  }
  .agreement {
    font-family: 'Roboto';
    font-size: rem-calc(15);
    line-height: 1;
    a {
      text-decoration: underline;
    }
  }
}
