.lecture-page, .course-page, .cycle-page {
  .anchors-sticky-inner {
    transition: transform 0.4s;
    @include breakpoint(small only) {
      &.mobile-hidden {
        transform: translateY(-63%);
      }
    }
    @include breakpoint(medium only) {
      &.mobile-hidden {
        transform: translateY(-100%);
      }
    }
  }
  .lecture, .course, .cycle {
    & > .content {
      margin-bottom: rem-calc(52);
    }
  }
  .abstract5 {
    position: absolute;
    right: 0;
    top: 53%;
    @include breakpoint(small only) {
      display: none;
    }
  }
  .block-title {
    h1 {
      margin-bottom: 0;
      // @include breakpoint(small only) {
      //   margin-bottom: rem-calc(30);
      // }
    }
  }
  .image {
    margin-bottom: rem-calc(8);
  }
  .description {
    margin-top: rem-calc(19);
    p {
      font-family: 'Roboto Slab';
      font-size: rem-calc(20);
      font-weight: 400;
      line-height: 1.25;
      margin-bottom: rem-calc(24);
    }
  }
  .themes {
    font-size: rem-calc(20);
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        &:before {
          content: '';
          background: #000;
          width: rem-calc(10);
          height: rem-calc(10);
          float: left;
          display: block;
          margin-top: rem-calc(11);
        }
        p {
          padding-left: rem-calc(21);
          line-height: 1.25;
          margin-bottom: rem-calc(11);
        }
      }
    }
  }
  .when-where-how {
    .sub-title  {
      h3 {
        @include breakpoint(small only) {
          font-size: rem-calc(20);
        }
        span {
          @include breakpoint(small only) {
            padding-bottom: rem-calc(3);
          }
        }
      }
    }
    .month {
      @include breakpoint(small only) {
        font-size: rem-calc(20);
      }
    }
    .time {
      @include breakpoint(small only) {
        font-size: rem-calc(20);
      }
    }
    .day {
      @include breakpoint(small only) {
        font-size: rem-calc(18);
      }
    }
    .button-buy {
      @include breakpoint(small only) {
        margin-top: rem-calc(30);
        margin-bottom: rem-calc(10);
      }
    }
  }
  .when {
    // margin-top: rem-calc(15);
  }
  .month {
    display: inline-block;
    font-family: 'Roboto Slab';
    font-size: rem-calc(25);
    font-weight: 700;
    line-height: 1;
  }
  .separator {
    display: inline-block;
  }
  .time {
    display: inline-block;
    font-family: 'Roboto Slab';
    font-size: rem-calc(25);
    font-weight: 400;
    line-height: 1;
  }
  .day {
    font-size: rem-calc(23);
    font-family: 'Roboto Slab';
    font-weight: 300;
    line-height: 0.7;
  }
  .more-dates {
    font-size: rem-calc(15);
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    margin-bottom: rem-calc(13);
    &:hover {
      text-decoration: underline;
    }
  }
  .event-date {
    margin-bottom: rem-calc(13);
  }
  .location-item {
    .icon {

    }
    .title {
      font-family: 'Roboto Slab';
      font-size: rem-calc(18);
      font-weight: 700;
      line-height: 1;
    }
    .address {
      font-family: 'Roboto Slab';
      font-size: rem-calc(18);
      font-weight: 300;
      line-height: 1;
    }
  }
  .how {
    font-family: 'Roboto Slab';
    font-size: rem-calc(25);
    font-weight: 700;
    line-height: 1;
  }
  .where {
    margin-top: rem-calc(23);
  }
  .location-item {
    margin-bottom: rem-calc(9);
    .title {
      margin-bottom: rem-calc(1);
    }
    .icon {
      margin-right: rem-calc(9);
      margin-top: rem-calc(3);
      width: rem-calc(18);
      @include breakpoint(medium only) {
        margin-top: rem-calc(-2);
      }
    }
  }
  .how {
    margin-top: rem-calc(27);
  }
  .how-work-lecture {
    background: transparent;
    margin-bottom: rem-calc(20);
  }
  .lecturers-list {
    margin-top: rem-calc(23);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(20);
    }
    .image {
      margin-bottom: rem-calc(50);
      @include breakpoint(small only) {
        margin-bottom: rem-calc(10);
      }
      img {
        box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
      }
    }
    .title {
      h3 {
        font-family: 'Roboto Slab';
        font-size: rem-calc(25);
        font-weight: 700;
        line-height: 1;
        margin-bottom: rem-calc(3);
      }
    }
    .skills {
      p {
        font-family: 'Roboto Slab';
        font-size: rem-calc(20);
        font-weight: 300;
        line-height: 1;
        margin-bottom: rem-calc(24);
      }
    }
    .anons {
      font-size: rem-calc(20);
      font-weight: 400;
      line-height: 1.25;
    }
    .more {
      font-size: rem-calc(20);
      color: #181818;
      font-weight: 900;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .append-for-small-button {
    .button-buy {
      @include breakpoint(small only) {
        margin-bottom: 0;
        margin-top: rem-calc(20);
      }
    }
  }
  .reviews {
    margin-top: rem-calc(0);
    .course-title {
      margin-bottom: rem-calc(0);
    }
    .items {
      padding-bottom: rem-calc(51);
    }
    .block-title {
      .title {
        padding-top: rem-calc(7);
        h2 {
          margin-bottom: rem-calc(5);
          line-height: 1;
        }
      }
    }
    .line {
      margin-bottom: rem-calc(0);
      height: rem-calc(10);
    }
    .block-title {
      .title {
        background-color: #e8e8e8;
      }
    }
    .items, .attended {
      background-color: #e8e8e8;
    }
    .attended {
      font-family: 'Roboto Slab';
      font-size: rem-calc(20);
      line-height: 1;
      padding-bottom: rem-calc(45);
    }
  }
  .sale {
    color: #959595;
    font-size: rem-calc(15);
    @include breakpoint(small only) {
      margin-top: rem-calc(5);
    }
    h2, h3 {
      color: #959595;
      font-size: rem-calc(15);
      line-height: 1;
      margin-bottom: rem-calc(7);
    }
    p {
      line-height: 1;
      margin-bottom: rem-calc(7);
    }
  }

  .recomendation-lecture {
    padding: 0;
    background: transparent;
    margin-bottom: rem-calc(50);
    .date {
      font-family: 'Roboto Slab';
      font-size: rem-calc(14);
    }

    .more {
      color: #181818;
      font-weight: 900;
      font-size: rem-calc(20);
    }
    .image {
      margin-bottom: 0;
      @include breakpoint(small only) {
        text-align: center;
        margin-bottom: rem-calc(10);
      }
    }
  }

  .contacts {
    h2 {
      font-size: rem-calc(25);
      margin-bottom: rem-calc(27);
    }
  }
}

.buy {
  .lecture-list {
    [type='checkbox'] + label, [type='radio'] + label {
      padding-left: 0;
      margin-left: 0;
      @include breakpoint(small only) {
        // padding-left: rem-calc(10);
        padding-left: 0;
        margin-left: 0;
      }
    }
  }
  .end {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9;
    .title {
      margin-bottom: rem-calc(20);
      h3 {
        font-family: 'Roboto Slab';
        font-weight: 700;
        text-decoration: underline;
        font-size: rem-calc(30);
      }
    }
    .inner {
      width: 100%;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .agreement {
    font-family: 'Roboto';
    font-size: rem-calc(15);
    line-height: 1;
    a {
      text-decoration: underline;
    }
  }
  .participants-list {
    font-family: 'Roboto Slab';
    line-height: 1;
    li {
      margin-top: rem-calc(36);
    }
    .title {
      h3 {
        font-family: 'Roboto Slab';
        font-size: rem-calc(17);
        font-weight: bold;
        margin-bottom: rem-calc(12);
      }
    }
    input[type="text"],
    input[type="password"]  {
      border: 1px solid #636363;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      height: rem-calc(30);
      line-height: 1;
      font-size: rem-calc(15);
    }
    label {
      font-size: rem-calc(17);
      font-weight: 400;
      margin-bottom: rem-calc(12);
      span {
        display: inline-block;
        margin-bottom: rem-calc(4);
      }
    }
  }
  .how {
    .sub-title {
      h3 {
        margin: rem-calc(0 12 0 0);
      }

    }
    h3 {
      display: inline-block;
      margin-right: rem-calc(12);
      vertical-align: text-bottom;
    }
  }
  .lecture-dates {
    @include breakpoint(small only) {
      margin-top: rem-calc(15);
    }
    @include breakpoint(medium only) {
      margin-top: rem-calc(15);
    }
    .slide {
      &.active {
        // background: #000;
        // color: #fff;
        .checkbox-f {
          background-color: #000;
          background-image: url('../img/checkbox-big.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
        }
      }
    }
    .date {
      font-size: rem-calc(15);
      line-height: 1;
      font-weight: 700;
      font-family: 'Roboto';
      padding-left: rem-calc(32);
    }
    .day {
      font-size: rem-calc(15);
      line-height: 1;
      font-weight: 400;
      font-family: 'Roboto';
      margin-top: rem-calc(-2);
      margin-bottom: rem-calc(7);
      padding-left: rem-calc(32);
      text-align: left;
    }
    .checkbox-f {
      width: rem-calc(20);
      height: rem-calc(20);
      border: 1px solid #000;
      position: absolute;
      top: rem-calc(14);
      @include breakpoint(small only) {
        top: rem-calc(9);
      }
    }
    .metro {
      font-size: rem-calc(15);
      line-height: 1;
      font-weight: 500;
      font-family: 'Roboto';
    }
    .content {
      border: 1px solid #000101;
      display: block;
      margin-right: -1px;
      padding: rem-calc(7 12 11);
      cursor: pointer;
      @include breakpoint(small only) {
        // padding-bottom: rem-calc(10);
        padding: rem-calc(2 5 5);
      }
      &:hover, &.active {
        // background: #000;
        // color: #fff;
      }
    }

    .no-date {
      padding: rem-calc(20);
      color: #ccc;
      line-height: 1;
    }

    &.dates-cnt-1 {
      // background: red;
      .slider-full {
        .slider-nav-right {
          border-left: none;
        }
      }
    }
    &.dates-cnt-4 {
      .slider-full {
        .slider-nav-right {
          border-left: none;
          @include breakpoint(medium down) {
            border-left: 1px solid #000101;
          }
        }
      }
    }
    &.dates-cnt-3 {
      .slider-full {
        .slider-nav-right {
          border-left: none;
          @include breakpoint(medium down) {
            border-left: 1px solid #000101;
          }
        }
      }
    }
    &.dates-cnt-2 {
      .slider-full {
        .slider-nav-right {
          border-left: none;
          @include breakpoint(small only) {
            border-left: 1px solid #000101;
          }
        }
      }
    }

    .slider-full {
      padding: rem-calc(0 20);
      .slider-nav-wrap {
        width: rem-calc(20);
        height: 100%;
        bottom: 0;
        position: absolute;
      }
      .slider-nav-left {
        left: 0;
      }
      .slider-nav-right {
        border-left: 1px solid #000101;
        right: 0;
        // @include breakpoint(small only) {
        //   border-left: none;
        // }
      }
    }

    .slider-nav {
      width: rem-calc(9);
      height: rem-calc(15);
    }

    .slider-button-prev {
      background-image: url('../img/arrow-left.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: rem-calc(9 15);
      background-color: #ebebeb;
      height: 100%;
      right: 0;
      left: auto;
      transform: none;
      top: 0;
      width: rem-calc(20);
      &.swiper-button-disabled {
        visibility: hidden;
        opacity: 0;
      }
    }

    .slider-button-next {
      background-image: url('../img/arrow-rigth.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: rem-calc(9 15);
      background-color: #ebebeb;
      height: 100%;
      right: auto;
      left: 0;
      transform: none;
      top: 0;
      width: rem-calc(20);
      &.swiper-button-disabled {
        visibility: hidden;
        opacity: 0;
      }
    }

    // .slider-nav-left {
    //   // background-color: #ebebeb;
    //   position: relative;
    // }
    // .slider-nav-right {
    //   // background-color: #ebebeb;
    //   border-left: 1px solid #000101;
    //   position: relative;
    // }
  }
  .lecture-item {
    margin-top: rem-calc(40);
  }
  .options {
    margin-top: rem-calc(35);
    margin-bottom: rem-calc(46);
    .options-items > * {
      display: inline-block;
      vertical-align: text-bottom;
    }
    h3 {
      font-size: rem-calc(17);
      font-family: 'Roboto Slab';
      line-height: 1;
    }
  }
  .promocode {
    margin-right: rem-calc(53);
    &.error {
      color: red;
      input {
        border: 1px solid red;
      }
      span {
        border: 1px solid red;
        background-color: red;
        background-image: url('../img/prohibition-circle.png');
        color: #fff;
      }
    }
    &.in-process {
      span {
        background-image: url('../img/spin-clock.svg');
        background-size: contain;
      }
    }
    &.success {
      color: #5acc4a;
      input {
        color: #5acc4a;
        border: 1px solid #5acc4a;
      }
      span {
        border: 1px solid #5acc4a;
        background-color: #5acc4a;
        background-image: url('../img/checkbox-big.png');
        color: #fff;
      }
    }
    @include breakpoint(small only) {
      margin-right: 0;
    }
    input {
      width: rem-calc(158);
      height: rem-calc(30);
      border: 1px solid #636363;
      margin: 0;
    }

    span {
      display: inline-block;
      width: rem-calc(37);
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      background-image: url('../img/checkpromo.png');
      background-repeat: no-repeat;
      background-position: center center;
      border: 1px solid #636363;
    }
  }
  .quantity {
    margin-right: rem-calc(40);

    .tickets {
      & > * {
        display: inline-block;
        vertical-align: bottom;
      }
    }
    .title-r {
      cursor: pointer;
      height: rem-calc(30);
      width: rem-calc(21);
      background-color: #eaeaea;
      color: #636363;
      font-size: rem-calc(23);
      font-family: 'Roboto Slab';
      line-height: 1;
      &.plus {
        font-size: rem-calc(17);
      }
    }
    input {
      border: 1px solid #636363;
      width: rem-calc(30);
      margin: 0;
      padding: 0;
      text-align: center;
      height: rem-calc(30);
      font-size: rem-calc(20);
      font-family: 'Roboto Slab';
      line-height: 1;
      font-weight: 700;
    }
  }
  .total {
    font-family: 'Roboto Slab';
    font-size: rem-calc(25);
    font-weight: 700;
    margin-right: rem-calc(56);
    margin-bottom: rem-calc(-9);
    .order-price {
      font-weight: 300;
      color: #666;
      &.line-through {
        padding: rem-calc(0 5);
      }
    }
    @include breakpoint(small only) {
      margin-top: rem-calc(10);
    }
  }
  .button-buy {
    font-family: 'Roboto Slab';
    font-size: rem-calc(19);
    font-weight: bold;
    background-image: url('../img/bg-buy-2.svg');
    padding: rem-calc(10 39 15);
    // margin-bottom: rem-calc(-18);
    margin-top: rem-calc(36);
    margin-bottom: rem-calc(5);
  }
  .order {
    margin-bottom: rem-calc(38);
    .order-discounts {

    }

    .title {
      h3 {
        color: #393939;
        font-weight: 700;
        line-height: 1;
        font-size: rem-calc(15);
        margin-bottom: rem-calc(6);
      }
      h4 {
        line-height: 1;
        font-size: rem-calc(15);
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }
    .lecture-list {
      li {
        color: #1e1e1e;
        font-size: rem-calc(15);
        line-height: 1.46;
        margin-bottom: rem-calc(34);
        &:last-child {
          margin-bottom: rem-calc(27);
        }
        & > span {

        }
        .date {
          font-family: 'Roboto';
          font-size: rem-calc(15);
        }
      }
    }
    .description {
      font-weight: 500;
      font-size: rem-calc(15);
      color: #b0b0b0;
      line-height: 1.46;
      margin-top: rem-calc(3);
    }
  }
  .other-date-subscribe {
    margin-bottom: rem-calc(50);
    h3 {
      font-size: rem-calc(18);
      line-height: 1;
      font-weight: 700;
      // margin-bottom: 0;
      margin-bottom: rem-calc(2);
    }
    p {
      font-size: rem-calc(18);
      line-height: 1;
      font-weight: 400;
      margin-bottom: rem-calc(11);
    }
    form {
      position: relative;;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #9f9f9f inset;
      -webkit-text-fill-color: #000 !important;
    }
    input {
      border: 1px solid #9f9f9f;
      background-color: #c9c7c7;
      height: rem-calc(52);
      width: 100%;
      font-size: rem-calc(15);
      color: #000;
      margin-bottom: 0;
      padding-right: rem-calc(58);
      &::placeholder {
        color: #000;
      }
    }
    .button {
      background-image: url('../img/arrow_subscribe.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      width: rem-calc(58);
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
    }
  }
}


input[type="checkbox"] {
  display: none;
}
//
input[type="checkbox"] + label span {
  position: absolute;
  top: rem-calc(3);
  left: 0;
  display: inline-block;
  width: rem-calc(13);
  height: rem-calc(13);
  // vertical-align: middle;
  background-image: url('../img/checkbox.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
//
input[type="checkbox"] + label {
  padding-left: rem-calc(29);
  position: relative;
  font-family: 'Roboto';
  font-size: rem-calc(17);
  line-height: 1.2;
}
//
input[type="checkbox"] + label.grey span {
  background-image: url('../img/checkbox-grey.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}
//
input[type="checkbox"]:checked + label span {
  background-image: url('../img/checkbox-checked.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}

.title-date-select {
  margin-bottom: rem-calc(-50);
  margin-left: rem-calc(18);
}
