.order-page {
  .order .content {
    padding-top: rem-calc(22);
    line-height: 1;
    margin-bottom: rem-calc(37);
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        line-height: 1;
      }
    }
    h2 {
      color: #1e1e1f;
      font-size: rem-calc(20);
      font-weight: 700;
      margin-bottom: rem-calc(2);
      line-height: 1;
    }
    .part {
      margin-bottom: rem-calc(22);
      li {
        margin-bottom: rem-calc(4);
      }
    }
    .value {
      font-size: rem-calc(15);
      font-weight: 400;
      line-height: 1;
    }
    .lectures-list {
      margin-top: rem-calc(12);
      .head {
        margin-bottom: rem-calc(14);
      }
      .title {
        font-size: rem-calc(25);
        font-weight: 700;
        color: #1e1e1f;
      }
    }
    .lecture {
      @include breakpoint(small only) {
        margin-bottom: rem-calc(30);
        &:nth-child(2) {
          margin-top: 0;
        }
      }
      .cell {
        border-top: 1px solid #666666;
        line-height: 1.35;
        @include breakpoint(small only) {
          border: none;
        }
        .inner {
          padding: rem-calc(18 0 18);
          @include breakpoint(small only) {
            padding: 0;
          }
        }
      }
      .mid {
        position: relative;

        &:after {
          content: '';
          background: #666666;
          width: 100%;
          height: 1px;
          display: block;
          position: absolute;
          top: -1px;
          left: rem-calc(-100);
          @include breakpoint(small only) {
            display: none;
          }
        }
        &:before {
          content: '';
          background: #666666;
          width: 100%;
          height: 1px;
          display: block;
          position: absolute;
          top: -1px;
          right: rem-calc(-100);
          @include breakpoint(small only) {
            display: none;
          }
        }
      }
    }
    .actions {
      .save {
        font-family: 'Roboto';
        font-size: rem-calc(20);
        font-weight: 400;
        text-decoration: underline;
      }
      .button-buy {
        font-family: 'Roboto Slab';
        font-size: rem-calc(19);
        font-weight: bold;
        background-image: url('../img/bg-buy-2.svg');
        padding: rem-calc(10 39 15);
        // margin-bottom: rem-calc(-18);
        margin-top: rem-calc(31);
        margin-bottom: rem-calc(8);
      }
    }
  }
}
