.schedule-page {
  .day {
    &.holiday {
      color: #000;
    }
  }
  .button-buy {
    font-size: rem-calc(19);
    background-image: url('../img/bg-buy-long.svg');
    padding-left: rem-calc(57);
    padding-right: rem-calc(49);
    margin-bottom: rem-calc(0);
  }
  .buttons {
    text-align: right;
    padding-top: rem-calc(13);
    @include breakpoint(small only) {
      text-align: left;
    }
  }
  .filter-schedule {
    li {
      // cursor: pointer;
      vertical-align: bottom;
      &:last-child {
        a {
          padding: rem-calc(0 0 0 12);
        }
      }
      a {
        font-size: rem-calc(18);
        padding: rem-calc(0 12);
        line-height: 1;
        &:hover, &.active {
          text-decoration: underline;
          font-weight: 700;
        }
        @include breakpoint(small only) {
          padding: rem-calc(0 6);
        }
      }
      .icon {
        margin-top: rem-calc(-1);
        a {
          &:hover, &.active {
            text-decoration: none;
            font-weight: 400;
          }
        }
      }
    }
  }
  .date-item {
    font-family: 'Roboto Slab';
    font-size: rem-calc(28);
    font-weight: 300;
    line-height: 1;
    & > span:first-child {
      font-weight: 700;
    }
    .day {
      display: inline-block;
      font-weight: 300;
    }
  }
  .calendar {
    position: relative;
  }
  .calendar-block {
    position: relative;
  }
  .sortable-date-item {
    &:last-child {
      .sortable-item {
        &:last-child {
          .lectures-item {
            margin-bottom: rem-calc(80);;
          }
        }
      }
    }
    .date-item {
      margin-bottom: rem-calc(30);
    }
  }
  .lectures-item {
    .item-title {
      min-height: rem-calc(92);
    }
    h3 {
      margin-top: rem-calc(4);
      margin-bottom: rem-calc(2);
      line-height: 1.1;
      font-size: rem-calc(25);
    }
    h4 {
      margin-bottom: 0;
      font-family: 'Roboto Slab';
      font-size: rem-calc(20);
      font-weight: 300;
      line-height: 1.1;
    }
  }
  .lectures-list {
    .lectures-item {
      margin-bottom: rem-calc(113);
      @include breakpoint(small only) {
        margin-bottom: rem-calc(70);
      }
      // &:last-child {
      //   margin-bottom: rem-calc(113);
      // }
    }
  }
  .lecturers-list {
    @include breakpoint(small only) {
      margin-bottom: rem-calc(2);
    }
    @include breakpoint(medium only) {
      margin-bottom: rem-calc(2);
    }
    .lectures-item {
      margin-bottom: rem-calc(113);
      &:last-child {
        margin-bottom: rem-calc(113);
      }
    }
    .icon {
      width: rem-calc(23);
    }
    .icon, .title {
      margin-bottom: rem-calc(5);
    }
  }
  .locations-list {
    .icon {
      width: rem-calc(17);
    }
  }
  .lecturers-list, .locations-list {
    .icon {
      margin-right: rem-calc(7);
      display: inline-block;
      vertical-align: text-bottom;
      line-height: 1;
    }
    .title {
      display: inline-block;
      font-size: rem-calc(18);
      font-weight: 500;
      vertical-align: bottom;
      line-height: 1;
      @include breakpoint(small only) {
        max-width: 90%;
        line-height: 1.2;
      }
      @include breakpoint(medium only) {
        max-width: 90%;
      }
    }
  }
  .locations-list {
    .icon {
      margin-right: rem-calc(10);
      margin-left: rem-calc(3);
      @include breakpoint(small only) {
        vertical-align: top;
      }
      @include breakpoint(medium only) {
        vertical-align: top;
      }
    }
  }
  .filter-list {
    margin-top: rem-calc(37);
    margin-bottom: rem-calc(7);
  }
  .filter-schedule {
    margin-bottom: rem-calc(17);
    @include breakpoint(small only) {
      margin-top: rem-calc(17);
    }
  }
  .search-toggle-btn {
    .icon {
      display: inline-block;
      max-width: rem-calc(16);
      margin-right: rem-calc(2);
    }
  }
}

.simple-calendar-ml {
  display: none;
  position: absolute;
  right: 0;
  background: #000;
  color: #fff;
  width: rem-calc(230);
  padding: rem-calc(5 10 10 10);
  top: rem-calc(38);
  ul {
    margin: 0;
    padding: 0;
  }
  .month {
    text-transform: capitalize;
    display: inline-block;
    font-weight: 700;
    font-size: rem-calc(18);
    line-height: 1;
  }
  .day-week {
    li {
      float: left;
      text-align: center;
      width: rem-calc(20);
      margin: rem-calc(0 5 3);
      font-size: rem-calc(16);
      color: #b7b7b7;
    }
  }
  .date-wrap {
    li {
      float: left;
      text-align: center;
      width: rem-calc(20);
      margin: rem-calc(3 5);
      &.holiday {
        a {
          color: #fe0000;
        }
      }
      &.event.active {
        a {
          color: #000;
        }
      }
      &.active {
        a {
          background: #fff;
          color: #000;
          text-decoration: none;
          font-weight: 300;
        }
      }
      &.event {
        a {
          color: #fff;
          cursor: pointer;
          &:hover {
            background: #fff;
            color: #000;
            text-decoration: none;
            font-weight: 300;
          }
        }
      }
      a {
        width: 100%;
        display: inline-block;
        text-align: center;
        color: #fff;
        margin: 0;
        padding: 0 !important;
        font-weight: 300;
        font-size: rem-calc(16);
        color: #555;
        cursor: default;
        &:hover {
          text-decoration: none;
          font-weight: 300;
        }
      }

    }
  }
  .month-nav {
    display: inline-block;
  }
  .nav-calendar {
    display: inline-block;
      width: rem-calc(8);
      height: rem-calc(14);
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      &.prev {
          background-image: url('../img/rect-left.png');
          margin-right: rem-calc(18);
      }

      &.next {
          background-image: url('../img/rect-right.png');
          margin-left: rem-calc(18);
      }
  }

}
