mixin containerFullX()
  .grid-container&attributes(attributes)
    .grid-x.grid-margin-x
      block

mixin containerFullClearX()
  .grid-x
    block

mixin cell(n)
  div(class=`large-${n} cell`)&attributes(attributes)
    block
      
mixin cellOffset(n, o)
  div(class=`large-offset-${o} large-${n} cell`)&attributes(attributes)
    block

mixin cell4Off1()
  .large-offset-1.large-4.medium-offset-1.medium-6.small-offset-1.small-14.cell
    block
      
mixin cell7Off1()
  .large-offset-1.large-7.cell
    block

mixin cell10()
  .large-10.large-offset-0.medium-offset-0.medium-8.small-offset-1.small-14.cell
    block
      
mixin cell6()
  .large-6.large-offset-0.small-offset-1.small-14.cell
    block

mixin cell7()
  .large-7.cell
    block
      
mixin cell4()
  .large-4.large-offset-0.medium-5.medium-offset-0.small-offset-1.small-14.cell
    block
    
mixin cell14Off1()
  .large-offset-1.large-14.small-offset-1.small-14.cell
    block

mixin cell10Off1()
  .large-offset-1.medium-offset-1.medium-9.small-offset-1.small-14.large-10.cell
    block

mixin containerX()
  +containerFullX()
    +cell14Off1()
      block
          
mixin containerGridX(size)
  .grid-container
    .grid-x.grid-padding-x(class=`small-up-${size.small} medium-up-${size.medium} large-up-${size.large}`)
      block

mixin containerClearGridX(size)
  .grid-container
    .grid-x(class=`small-up-${size.small} medium-up-${size.medium} large-up-${size.large}`)
      block

mixin containerClearX()
  .grid-container
    .grid-x
      +cell14Off1()
        block

mixin containerSlider()
  .grid-container
    .grid-x
      .large-16.cell
        block
