mixin subscribeForm(action, spinLocal)
  form(action=action, method='post', data-abide, novalidate).subscribe-form
    div.pos-relative
      input.subscribe(type="text", name='email', placeholder='Ваша почта', required, pattern='email')
      button(type='submit').button

    .text-center.elm
      if (spinLocal)
        .spin-local.spin-clock
          img.vh-center(src='/assets/img/spin-clock-white.svg')
      .form-error
      .form-success
      //- .message-small.succses
      //-     span Спасибо за подписку!
      //- .message-small.error
      //-     span
      //-     .close &#10799;
      
