mixin tinkoffPay(userAnOrder, order, product, acquiring)
  if (acquiring && acquiring.token)
    - let { firstName, lastName, phone, email } = userAnOrder;
    - let receipt = { Email: email, Phone: `+${phone}`, Taxation: "usn_income", Items: [{ Name: product.title, Price: order.totalPrice * 100, Quantity: 1.00, Amount: order.totalPrice * 100, Tax: "none" }]};
    style.
      .tinkoffPayRow{display:block;margin:1%;width:160px;}
    script(src='https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js')
    form#payform(name='TinkoffPayForm', onsubmit='pay(this); return false;')
      input.tinkoffPayRow(type='hidden', name='terminalkey', value=acquiring.token.trim())
      input.tinkoffPayRow(type='hidden', name='frame', value='false')
      input.tinkoffPayRow(type='hidden', name='language', value='ru')
      input.tinkoffPayRow(type='hidden', placeholder='Сумма заказа', name='amount', value=order.totalPrice, required)
      input.tinkoffPayRow(type='hidden', placeholder='Номер заказа', name='order', value=order.paymentId, required)
      input.tinkoffPayRow(type='hidden', placeholder='Описание заказа', name='description', value=product.title, required)
      input.tinkoffPayRow(type='hidden', placeholder='ФИО плательщика', name='name', value=`${firstName} ${lastName}`, required)
      input.tinkoffPayRow(type='hidden', placeholder='E-mail', name='email', value=email, required)
      input.tinkoffPayRow(type='hidden', placeholder='Контактный телефон', name='phone', value=`+${phone}`, required)
      input.tinkoffPayRow(type='hidden', name='receipt', value=JSON.stringify(receipt).replace('"Quantity":1', '"Quantity":1.00'))
