extends ../layouts/layout

block vars
  - activeLink = '/catalog';
  - page = 'course';
  
block title
  - let course = currentPageData.Course;
  title Синхронизация | #{course.title}

block content
  main.main.course-page
    .main-title
      +containerX()
        +blockTitle(course.title, true)
        .sub-title
          .hide-for-small-only
            if (course.subTitle)
              |#{course.subTitle}
        
    .course
      .content
        +containerX()
          .image
            .hide-for-small-only
              if course.img1240x349 && course.img1240x349 !== 'no-photo'
                img(src=`${IMAGE_HOST}/${course.img1240x349}/1240x349/${slugify(course.title)}.jpg`, alt=course.title)
              else
                img(src='/assets/img/no-photo-1240x349.png', alt=course.title)
            .show-for-small-only
              if course.img340x192 && course.img340x192 !== 'no-photo'
                img(src=`${IMAGE_HOST}/${course.img340x192}/340x192/${slugify(course.title)}.jpg`, alt=course.title)
              else
                img(src='/assets/img/no-photo-340x192.png', alt=course.title)

        +navStikyAnchors('course')
        
        //- +containerX()
        //-   .show-for-small-only
        //-     +whenWhereHowCourse(course)
                    
        +containerFullX()
          +cell10Off1()
            .left
              .anons
                p= course.anons
              .description
                p= course.description
              
          +cell4()
            //- .show-for-small-only
            //-   .append-for-small-button.text-center
            //-     +buttonBuy('Купить', '#buy')(class='anchor')
            //- .hide-for-small-only
            +whenWhereHowCourse(course)
                
      include ../components/howWorkCourse
      
      if (course.lecturers.length > 0)
        .lecturers-list  
          #lecturers.anchor-point
            +blockTitleRetag('Лекторы', false, 'h10', 'less')
          
            +lecturersListCourse(course.lecturers)
      
      #lectures.anchor-point
        +containerX()
          +blockTitle('Описание встреч', false, 'h10', 'less')
        +lecturesListCourse(course.lectures)
      
      #reviews.anchor-point
        include ../components/reviewsLecture
          
      +buyCourse(course)
    
      include ../components/recomendationLecture
      
      include ../components/contacts
        
block scripts
  script.
    var product = !{JSON.stringify(currentPageData.Course.product).replace(/<\//g, "<\\/")};
  script(src='/assets/js/templates/participant.js')
  script(src='/assets/js/course.js')
