extends ../layouts/layout

block vars
  - activeLink = '/order';
  - page = 'order';
  - let { userAnOrder, userAnGift, certificate, order, acquiring, paymentId } = currentPageData;

block title
  title Синхронизация | #{pages.order.title}

block content
  main.main.order-page
    .main-title
      +containerX()
        +blockTitle(pages.order.title, true)
        .sub-title
          if (pages.order.subTitle)
            |#{pages.order.subTitle}
        
    .order
      .content
        +containerX()
          .part.participant
            h2 Сертификат
            .value
              |#{certificate.title}
          .part.price
            h2 Сумма заказа
            .value
              |#{order.totalPrice} руб.
          .part.price
            h2 Персональные данные - Заказчик:
            .value
              | #{userAnOrder.lastName}
              //- br
              //- | #{userAnOrder.secondName}
              br
              | #{userAnOrder.firstName}
              br
              | #{userAnOrder.email}
              br
              | #{userAnOrder.phone}
            br
            
            if (userAnGift)
              h2 Персональные данные - Получатель:
              .value
                | #{userAnGift.lastName}
                br
                | #{userAnGift.firstName}
                br
                | #{userAnGift.email}
              br
                
              h2 Дата вручения:          
              .value #{moment(order.dateOfDeliveryGift).format('LL')}

        +containerX()
          .error.error-order
          .actions
            
            if (paymentId)
              form(action='/payments/certificate', method='POST').not-check
                input(type='hidden', name='id', value=paymentId)
                +buttonBuySimpleSubmit('Купить сертификат')
            else
              form(action='/certificate/payment', method='POST').not-check
                input(type='hidden', name='id', value=currentPageData.id)
                +buttonBuySimpleSubmit('Купить сертификат')
                      
    include ../components/contacts
    
block scripts
  script(src='/assets/js/orderCert.js')
