- function arrayGroup(array, n) { const output = []; let tmp = []; array.forEach((item, index) => { tmp.push(item); if ((index + 1) % n === 0 || index === array.length - 1) { output.push(tmp); tmp = []; }}); return output;}
