include ./include

doctype html
html(lang='ru')
  block vars

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    block title
    include ../partials/head

  body
    include ../partials/headerLogo
    block content
