extends ../layouts/layout

block vars
  - activeLink = '/catalog';

block title
  title Синхронизация | #{pages.catalog.title}

block styles
  +filterListStyleTag(currentPageData.allTags)
  
block content
  //- +filterListStyleTags(currentPageData.allTags)
  
  main.main.catalog-page 
    .main-title
      +containerX()
        +blockTitle(pages.catalog.title, true)
    
    +containerX()
      +filterList(currentPageData.allTags)
      
    .catalog
      .content
        +sortableLectures(currentPageData.allTagsWithActiveLecture)
    
    .main-title
      +containerX()
        +blockTitle(pages.archive.title)
    
    +containerX()
      +filterList(currentPageData.allTags)

    .catalog.archive
      .content
        +sortableLectures(currentPageData.allTagsWithArchiveLecture, true)
    
    include ../components/contacts
block scripts
  script(src='/assets/js/catalog.js')
