extends ../layouts/layout

block vars
  - activeLink = 'confirm-email.html';
  - page = 'confirmEmail';
  
block title
  //- -let currentPageData = { title: 'Подтверждение E-mail', error: true, expired: true, fail: true };
  - let confirmEmail = currentPageData;
  title Синхронизация | #{confirmEmail.title || 'Подтверждение E-mail'}

block content
  main.main.reset-page
    .main-title
      +containerX()
        +blockTitle()
      +containerFullX()   
        +cellOffset(6, 5)
          .block-title
            h1= confirmEmail.title || 'Подтверждение E-mail'
          .sub-title
            if (confirmEmail.subTitle)
              |#{confirmEmail.subTitle}
        
    .confirm-email.form-default
      .content
        if (confirmEmail.error)
          +containerFullX()   
            +cellOffset(6, 5)
              p.error Недействительная или просроченная ссылка
              p Отправить ссылку еще раз
              
              .form-success  
              form(action='/users/confirm-email', method='post', data-abide, novalidate)
                label E-mail
                  input(type='text', name='email', required, pattern='email')
                
                .form-error
                  if (confirmEmail.fail)
                    | Пользователь не найден, проверьте введенные данные
                                  
                .actions
                  button(type='submit').submit Отправить
        else 
          +containerFullX()   
            +cellOffset(6, 5)
              p E-mail подтвержден
            
    //- include ../components/contacts      
block scripts
