extends ../layouts/layout

block vars
  - activeLink = '/lecturers';
  - lecturesLimit = 3;

block title
  - let lecturer = currentPageData.Lecturer;
  title Синхронизация | Лектор #{`${lecturer.firstName} ${lecturer.lastName}`}

block content
  main.main.lecturer-page 
    .main-title
      +containerX()
        +blockTitle('Лекторы', true)
    .lecturer
      .content
        - let fullName = `${lecturer.firstName} ${lecturer.lastName}`
        +containerX()
          +title(fullName)
        +containerFullX()
          +cell4Off1()
            .image
              if lecturer.img337x536 && lecturer.img337x536 !== 'no-photo'
                img(src=`${IMAGE_HOST}/${lecturer.img337x536}/337x536/${slugify(fullName)}.jpg`, alt=fullName)
              else
                img(src='/assets/img/no-photo-337x536.png', alt=fullName)
          +cell10()
            .anons
              p !{lecturer.anons.replace(/\n/g, '</br>')}
            .description
              p !{lecturer.description.replace(/\n/g, '</br>')}
            .specialization
              p !{lecturer.specialization.replace(/\n/g, '</br>')}
            
    +containerX()
      //- +blockTitleClear(`Лекции ${lecturer.mutation}`)
      if lecturer.lectures.length > 0
        +blockTitleClear(`Лекции ${lecturer.genitive}`)
    +lecturesList(lecturer.lectures, 3)

    
    include ../components/reviews
        
    include ../components/contacts
block scripts
  script(src='/assets/js/lecturer.js')
