extends ../layouts/layout

block vars
  - activeLink = '/catalog';
  - page = 'lecture';

block title
  - let lecture = currentPageData.Lecture;
  title Синхронизация | Лекция “#{lecture.title}”

block content
  main.main.lecture-page 
    .main-title
      +containerX()
        +blockTitle(`Лекция "${lecture.title}"`, true)
        .course-title
          if lecture.course.length > 0
            a(href=lecture.course[0].alias.alias)
              |Курс “#{lecture.course[0].title}”
          if lecture.cycle.length > 0
            a(href=lecture.cycle[0].alias.alias)
              |Цикл “#{lecture.cycle[0].title}”
            
    .lecture
      .content
        +containerX()
          .image
            .hide-for-small-only
              if lecture.img1240x349 && lecture.img1240x349 !== 'no-photo'
                img(src=`${IMAGE_HOST}/${lecture.img1240x349}/1240x349/${slugify(lecture.title)}.jpg`, alt=lecture.title)
              else
                img(src='/assets/img/no-photo-1240x349.png', alt=lecture.title)
            .show-for-small-only
              if lecture.img340x192 && lecture.img340x192 !== 'no-photo'
                img(src=`${IMAGE_HOST}/${lecture.img340x192}/340x192/${slugify(lecture.title)}.jpg`, alt=lecture.title)
              else
                img(src='/assets/img/no-photo-340x192.png', alt=lecture.title)
        +navStikyAnchors('lecture')
        
        //- +containerX()
        //-   .show-for-small-only
        //-     +whenWhereHow(lecture)
            
        #lectures.anchor-point
          +containerFullX()
            +cell10Off1()
              .description
                p= lecture.description
              .themes
                ul
                  each theme in lecture.themes
                    if theme && theme !== '"'
                      li
                        p= theme
            +cell4()
              //- .show-for-small-only
              //-   .append-for-small-button.text-center
              //-     +buttonBuy('Купить', '#buy')(class='anchor')
              //- .hide-for-small-only
              +whenWhereHow(lecture)
                
      include ../components/howWorkLecture
      
      #lecturers.anchor-point
        +containerX()
          - let lecturersMany = lecture.lecturers.length > 1;
          if (lecturersMany)
            +blockTitle('Лекцию ведут', false, 'h10', 'less')
          else
            +blockTitle('Лекцию ведет', false, 'h10', 'less')
            
        +lecturersList(lecture.lecturers, true)
        
      #reviews.anchor-point
        include ../components/reviewsLecture
          
      +buyLecture(lecture, currentPageData.user)
      
      include ../components/recomendationLecture
      
      include ../components/contacts
          
block scripts
  script.
    var product = !{JSON.stringify(currentPageData.Lecture.product).replace(/<\//g, "<\\/")};
  script(src='/assets/js/templates/participant.js')
  script(src='/assets/js/lecture.js')
