extends ../layouts/layout

block vars
  - activeLink = '/order';
  - page = 'order';
  - let { userAnOrder, acquiring, order, paymentId } = currentPageData;
  
block title
  title Синхронизация | #{pages.order.title}

block content
  main.main.order-page
    .main-title
      +containerX()
        +blockTitle(pages.order.title, true)
        .sub-title
          if (pages.order.subTitle)
            |#{pages.order.subTitle}
        
    .order
      .content
        +containerX()
          .part.participant
            h2 Участники
            .value
              ul
                each participant in currentPageData.participants
                  li
                    | #{participant.firstName} #{participant.lastName}
          .part.tickets
            h2 Число билетов
            .value
              |#{currentPageData.tickets}
              |&nbsp;#{declOfNum(tickets, ['билет', 'билета', 'билетов'])}
          .part.price
            h2 Сумма заказа
            .value
              | #{order.totalPrice} руб.
        .lectures-list
          .head
            +containerFullX()(class='hide-for-small-only')
              +cellOffset(5, 1)(class='medium-offset-1 medium-5')
                .title Лекция
              +cell(3)(class='medium-3')
                .title Дата
              +cell(6)(class='medium-6')
                .title Место проведения
              
          each event, index in currentPageData.allEvents
            .lecture
              +containerFullX()
                +cellOffset(5, 1)(class='medium-offset-1 medium-5 small-offset-1 small-14')
                  .inner
                    .show-for-small-only
                      strong Лекция #{index + 1}
                    div= event.lecture.title
                +cell(3)(class='medium-3 medium-offset-0 large-offset-0 small-offset-1 small-14')
                  .mid
                  .inner
                    div
                      +formatDate(event.date)
                +cell(6)(class='medium-6 medium-offset-0 large-offset-0 small-offset-1 small-14')
                  .inner
                    div= event.location.title
                    div= `(${event.location.address})`
                    
        +containerX()
          .actions
            if (!paymentId)
              form(action='/order', method='POST').not-check
                input(type='hidden', name='id', value=currentPageData.id)
                button(type='submit').save Сохранить заказ
            
            if (paymentId)
              form(action='/payments/order', method='POST').not-check
                input(type='hidden', name='id', value=paymentId)
                +buttonBuySimpleSubmit('Купить билет')
            else
              form(action='/order/payment', method='POST').not-check
                input(type='hidden', name='id', value=currentPageData.id)
                +buttonBuySimpleSubmit('Купить билет')
            
    include ../components/contacts
    
block scripts
  script(src='/assets/js/order.js')
