extends ../layouts/layout

block vars
  - activeLink = '/schedule';

block title
  title Синхронизация | #{pages.schedule.title}

block styles
  +filterListStyleTag(currentPageData.allTags)

block content
  script= `var scheduleEventsDates = ['${sortEventsForCalendar(currentPageData.allEventsActiveDate).join('\', \'')}']`
    
  main.main.schedule-page 
    .main-title
      +containerX()
        +blockTitle(pages.schedule.title, true)
    
    +containerX()
      +filterList(currentPageData.allTags)
      .pos-relative
        +filterSchedule()
        .search-decorator
          +search(currentPageData.groupSheduleOfDate)
      
    .schedule-sort
      .content
        +sortableScheduleLectures(currentPageData.groupSheduleOfDate, '', true)
        +noEvents(true)
    
    include ../components/contacts
block scripts
  script(src='/assets/js/templates/calendar.js')
  script(src='/assets/js/templates/schedule.js')
  script(src='/assets/js/templates/search.js')
  script(src='/assets/js/schedule.js')
