-
  function styleFilterList(items, containerClass, itemClass) {
    let output = '';
    items.forEach((item, index) => {
      if (index !== 0) {
        output += `
          .whatinput-types-touch .${containerClass} .${itemClass}${index}:focus,
          .whatinput-types-touch .${containerClass} .${itemClass}${index}:active,
          .whatinput-types-mouse .${containerClass} .${itemClass}${index}:hover,
          .${containerClass} .${itemClass}${index}.active  {
            background-color: ${item.color};
            color: ${item.textColor};
          }\n`;
      }
    });
    return output;
  }
