mixin blockTitle(title, h1Tag, lineCls, hCls)
  .block-title
    .line(class=lineCls)
    if (h1Tag)
      h1(class=hCls)= title
    else
      h2(class=hCls)= title

mixin blockTitleWithEdit(title, h1Tag, lineCls, hCls)
  .block-title
    .line(class=lineCls)
    if (h1Tag)
      h1(class=hCls)= title
        |&nbsp;
        span.action.edit редактировать
        span.action.save.hidden сохранить
        span.action.separator.hidden /
        span.action.cancel.hidden отменить
    else
      h2(class=hCls)= title
        |&nbsp;
        span.edit редактировать
        span.save сохранить
        span.separator /
        span.cancel отменить

mixin blockTitleRetag(title, h1Tag, lineCls, hCls)
  .block-title
    +containerX()
      .line(class=lineCls)
    .title
      +containerX()
        if (h1Tag)
          h1(class=hCls)= title
        else
          h2(class=hCls)= title

mixin blockTitleClear(title, h1Tag)
  .block-title-clear
    if (h1Tag)
      h1(class=hCls)= title
    else
      h2(class=hCls)= title

mixin title(title, subTitle)
  .title
    h2= title
    if (subTitle)
      h3= subTitle

mixin subTitle(title, h2Tag)
  .sub-title
    if (h2Tag)
      h2
        span= `${title}:`
    else
      h3
        span= `${title}:`
      block
