mixin menu()
  ul.vertical.menu
    each item in locals.app.mainMenu
      li
        a(href=item.link)= item.title
    //- if user
    //-   a(href=locals.app.userMenu.signIn.account)= locals.app.userMenu.account.title
    //- else
    //-   a(href=locals.app.userMenu.signIn.link, data-open='signInModal-footer')= locals.app.userMenu.signIn.title
