mixin separator()
  .separator &nbsp;|&nbsp;

mixin sheduleEvent(event)
  - const lecture = event.lecture;
  //- - const link = 
  .event
    a(href=lecture.alias.alias)
      .time
        +formatDateTime(event.date)
      +separator()
      .title
        h3= lecture.title
      if (event.location.address)
        +separator()
        .address= event.location.address
  
mixin day(date)
  .day(class=checkHoliday(date) ? 'holiday' : '')
   +formatDateDay(date)
  
mixin scheduleList(item)
  +containerX()
    .schedule-item
      .date
        .line
        +day(item.date)
        +separator()
        .month
           +formatDateShort(item.date)
      .events
        //- +sheduleEvent(item)
        each e in item.events
          +sheduleEvent(e)

mixin eventDates(events, n)
  .event-dates
    each item, index in events
      if (index < n)
        +eventDate(item)
      else
        +eventDate(item, 'hidden')
        
    - let datesLength = events.length;
    if (datesLength > n)
      .more-dates= 'другие даты>>'
      
mixin eventDate(item, cls)
  - let date = item.date;
  .event-date(class=cls)
    .date
      .month
         +formatDateShort(date)
         +separator()
      .time
        +formatDateTime(date)
      +day(date)

mixin eventDateCourse(item, cls)
  - let date = item.date;
  .event-date(class=cls)
    .date
      .day= item.day
      +separator()
      .time= item.time
    
mixin eventDatesCourse(dates, cls)
  - let datesSorted = sortingAndDecliningDays(dates)

  .event-dates
    each item in datesSorted
      +eventDateCourse(item)
      
mixin eventDatesCycle(cycle, cls)
  .event-dates
    .event-date
      .date
        div
          .time= cycle.whenStrong
        div
          .day= cycle.when
