mixin tags(tags)
  each tag in tags
    +tag(tag)

mixin tag(tag)
  .tag(data-alias=tag.alias.alias, style={ 'background-color': tag.color.replace(/"/g, ''), color: tag.textColor.replace(/"/g, '') })
    .tag-title= tag.title

mixin tagTitleWithColor(title, color)
  .title-with-color
    h2
      span.color(style={ "background-color": color.replace(/"/g, '') })
      | #{`${title.charAt(0).toUpperCase()}${title.slice(1)}`}
