mixin whenWhereHow(lecture)
  .pos-relative.when-where-how
    .hide-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
  
    if (lecture.events.length === 0)
      .text-center
        |Нет доступных дат
    else
      .when
        +subTitle('когда')
        +eventDates(lecture.events, 2)
        
      .where
        +subTitle('где')
        +locationsList(lecture.events)
      .how
        +subTitle('сколько')
        .price
          |#{lecture.formattedPrice} руб.
      .abstract5
        img(src='/assets/img/abstract5.png')
          
      .show-for-small-only
        .text-center
          +buttonBuy('Купить', '#buy')(class='anchor')

mixin whenWhereHowCourse(course)
  .right.pos-relative.when-where-how
    .hide-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
    .when
      if (course.dates.length === 0)
        .text-center
          |Нет доступных дат
      else
        +subTitle('когда')
        +eventDatesCourse(course.dates)
        
      
    .where
      if (course.locations.length > 0)
        +subTitle('где')
        +locationsListCourse(course.locations)
      
    .abstract5
      img(src='/assets/img/abstract5.png')
    
    .show-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
        
mixin whenWhereHowCycle(cycle)
  .right.pos-relative.when-where-how
    .hide-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
    .when
      if (cycle.dates.length === 0)
        .text-center
          |Нет доступных дат
      else
        +subTitle('когда')
        +eventDatesCycle(cycle)
      
    .where
      if (cycle.locations.length > 0)
        +subTitle('где')
        +locationsListCycle(cycle.locations)
      
    .abstract5
      img(src='/assets/img/abstract5.png')
    
    .show-for-small-only
      .text-center
        +buttonBuy('Купить', '#buy')(class='anchor')
