.footer {
  background-color: #181818;
  padding-top: rem-calc(24);
  padding-bottom: rem-calc(30);
  .logo {
    color: #fff;
    margin-bottom: rem-calc(26);
    margin-top: rem-calc(9);
    max-width: rem-calc(170);
    @include breakpoint(small only) {
      // text-align: center;
      // width: 100%;
      // max-width: inherit;
      img {
        max-width: rem-calc(300);
      }
    }
    .line {
      background-color: #fff;
    }
  }
  .left {
    max-width: rem-calc(250);
    @include breakpoint(small only) {
      width: 100%;
      max-width: 100%;
    }
    .copyright {
      @include breakpoint(small only) {
        display: none;
      }
    }
  }
  .social {
    white-space: nowrap;
    a {
      margin-right: rem-calc(11);
    }
    @include breakpoint(small only) {
      text-align: center;
      margin-bottom: rem-calc(20);
    }
  }
  .description {
    color: #959595;
    font-size: rem-calc(13);
    @include breakpoint(small only) {
      text-align: left;
      width: 100%;
      font-size: rem-calc(20);
    }
    p {
      line-height: 1.2;
    }
  }
  .copyright {
    color: #959595;
    font-size: rem-calc(17);
    line-height: 1;
    @include breakpoint(small only) {
      text-align: center;
    }
  }
  .menu {
    @include breakpoint(small only) {
      text-align: center;
      margin: rem-calc(15 0 30);
    }
    a {
      color: #ffffff;
      font-size: rem-calc(17);
      padding: rem-calc(7);
      display: inline-block;
      @include breakpoint(small only) {
        font-size: rem-calc(25);
      }
    }
  }
  h3 {
    color: #959595;
    font-size: rem-calc(17);
    margin-bottom: rem-calc(17);
  }
  form {
    .elm {
      display: none;
      height: rem-calc(52);
      .form-success {
        color: #fff;
      }
      .form-error, .form-success {
        font-size: rem-calc(17);
        font-weight: 400;
        line-height: 1.2;
        margin: 0;
      }
    }
  }
  .subscribe {
    background-color: #292929;
    border: 1px solid #9f9f9f;
    padding: rem-calc(0 57 0 22);
    height: rem-calc(52);
    font-size: rem-calc(17);
    color: #959595;
    width: 100%;
    margin: 0;
  }
  .subscribe-form {
    position: relative;
    margin-bottom: rem-calc(53);
    @include breakpoint(small only) {
      margin-bottom: rem-calc(30);
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #181818 inset;
      -webkit-text-fill-color: #959595 !important;
    }
    .button {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      height: rem-calc(52);
      width: rem-calc(40);
      background-color: transparent;
      background-image: url('../img/subscribe-arrow.png');
      background-position: center center;
      background-repeat: no-repeat;
      // border-top: 1px solid #9f9f9f;
      // border-bottom: 1px solid #9f9f9f;
      // border-right: 1px solid #9f9f9f;
      // border: 1px solid #a1a1a1;
      // border-radius: 0 9px 9px 0;
    }
  }
  .contacts {
    font-size: rem-calc(15);
    color: #959595;
    a {
      font-size: rem-calc(15);
      color: #959595;
    }
    @include breakpoint(small only) {
      text-align: center;
      font-size: rem-calc(20);
      margin-bottom: rem-calc(20);
      a {
        font-size: rem-calc(20);
      }
    }
  }
}
