.how-work.how-work-lecture {
  p {
    // max-width: inherit;
  }
}
.how-work {
  font-size: rem-calc(25);
  background-image: url('../img/bg-hw.jpg');
  background-position: bottom center;
  background-size: cover;
  padding-bottom: rem-calc(31);
  .items {
    .content {
      @include breakpoint(small only) {
        margin-bottom: rem-calc(30);
      }
      @include breakpoint(medium only) {
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(30);
      }
    }
  }
  .title {
    margin-bottom: rem-calc(21);
    @include breakpoint(small only) {
      margin-bottom: 0;
    }
    h3 {
      font-family: 'Roboto Slab';
      font-size: rem-calc(25);
      @include breakpoint(small only) {
        margin-bottom: rem-calc(5);
        font-size: rem-calc(30);
        font-weight: 700;
      }
    }
      font-weight: 700;
  }
  strong {
    color: #fefefe;
    background: #000;
    padding: rem-calc(2);
    font-weight: 700;
    @include breakpoint(small only) {
      background: transparent;
      padding: 0;
      color: #0a0a0a;
    }
  }
  .icon {
    display: inline-block;
    margin-right: rem-calc(9);
    margin-bottom: rem-calc(-3);
    background-size: contain;
    &.time {
      width: rem-calc(28);
      height: rem-calc(29);
      background-image: url('../img/time.png');
    }
    &.house {
      width: rem-calc(28);
      height: rem-calc(26);
      background-image: url('../img/house.png');
    }
    &.many {
      width: rem-calc(25);
      height: rem-calc(25);
      background-image: url('../img/many.png');
    }
    &.book {
      width: rem-calc(28);
      height: rem-calc(29);
      background-image: url('../img/book.png');
    }
    &.umbrella {
      width: rem-calc(25);
      height: rem-calc(25);
      background-image: url('../img/umbrella.png');
    }
  }
  & > .content {
    margin-top: rem-calc(21);
  }
  p {
    // max-width: rem-calc(240);
    margin: 0 auto;
    line-height: 1.55;
    font-size: rem-calc(20);
    // @include breakpoint(small only) {
    //   font-size: rem-calc(20);
    //   line-height: 1.2;
    // }
    // @include breakpoint(1024px only) {
    //   font-size: rem-calc(15);
    //   // line-height: 1.2;
    // }
  }
}
