.lecturers {
  margin-bottom: rem-calc(57);
  .description {
    margin-top: rem-calc(22);
    font-size: rem-calc(25);
    font-weight: 400;
    p {
      line-height: 1.35;
      margin-bottom: rem-calc(35);
    }
  }

  .slide {

  }
}
