.partners {
  .content {
    padding-top: rem-calc(8);
    margin-bottom: rem-calc(44);
  }
  .content > * {
    @include breakpoint(small only) {
      display: block;
      text-align: center;
      margin: rem-calc(30 0);
    }
  }
}
