.recomendation {
  padding-top: rem-calc(42);
  background-image: url('../img/bg-abstract.jpg');
  background-position: bottom center;
  background-size: cover;
  padding-bottom: rem-calc(31);
  .content {
    margin-top: rem-calc(24);
  }
  .description {
    margin-top: rem-calc(37);
    .title {
      font-family: 'Roboto Slab';
      font-size: rem-calc(25);
      font-weight: 700;
      line-height: 1.55;
      margin-bottom: rem-calc(35);
      @include breakpoint(small only) {
        font-size: rem-calc(20);
      }
    }
  }
}
