.reviews {
  margin-top: rem-calc(80);
  & > .content {
    // margin-bottom: rem-calc(18);
    // margin-top: rem-calc(12);
    // margin: 0;
  }
  .slide {
    .left {
      vertical-align: top;
      display: inline-block;
      width: 27%;
      box-sizing: border-box;
    }
    .right {
      padding-left: rem-calc(19);
      vertical-align: top;
      display: inline-block;
      width: 73%;
      box-sizing: border-box;
    }
    .title {
      h3 {
        line-height: 0.8;
        margin-top: rem-calc(-5);
        margin-bottom: rem-calc(22);
        @include breakpoint(small only) {
          margin-top: 0;
          margin-bottom: rem-calc(5);
        }
        @include breakpoint(medium only) {
          margin-top: 0;
          margin-bottom: rem-calc(10);
        }
      }
      .lecture-title {
        color: #181818;
        font-family: 'Roboto Slab';
        font-size: rem-calc(25);
        font-weight: 700;
        @include breakpoint(small only) {
          display: inline-block;
          margin-bottom: rem-calc(3);
        }
      }
      .course-title {
        color: #181818;
        font-family: 'Roboto Slab';
        font-size: rem-calc(20);
        font-weight: 300;
        line-height: 0.8;
        display: inline-block;
        margin-bottom: 0;
        @include breakpoint(small only) {
          line-height: 1;
        }
      }
    }
    p {
      font-family: 'Roboto';
      font-size: rem-calc(20);
      font-weight: 400;
    }
    .anons {
      p {
        line-height: 1.2;
        margin-bottom: 0;
      }
      .more {
        padding: 0;
        background: transparent;
        color: #000;
        font-family: 'Roboto';
        font-size: rem-calc(20);
        font-weight: 900;
        &.button {
          margin: 0;
          vertical-align: baseline;
        }
      }
    }
  }
}
.review-reveal {
  padding: rem-calc(84 92 79);
  width: rem-calc(880);
  @include breakpoint(small only) {
    padding: rem-calc(50);
    width: auto;
  }
  @include breakpoint(medium only) {
    padding: rem-calc(50);
    width: auto;
  }
  .left {
    vertical-align: top;
    display: inline-block;
    width: 27%;
    box-sizing: border-box;
  }
  .right {
    padding-left: rem-calc(19);
    vertical-align: top;
    display: inline-block;
    width: 73%;
    box-sizing: border-box;
  }
  .title {
    h3 {
      line-height: 0.8;
      margin-top: rem-calc(-5);
      margin-bottom: rem-calc(22);
    }
    .lecture-title {
      color: #181818;
      font-family: 'Roboto Slab';
      font-size: rem-calc(25);
      font-weight: 700;
    }
    .course-title {
      color: #181818;
      font-family: 'Roboto Slab';
      font-size: rem-calc(20);
      font-weight: 300;
      line-height: 0.8;
      display: inline-block;
      @include breakpoint(small only) {
        margin-bottom: 0;
      }
      @include breakpoint(medium only) {
        margin-bottom: 0;
      }
    }
  }
  p {
    font-family: 'Roboto';
    font-size: rem-calc(20);
    font-weight: 400;
  }
  .text {
    font-size: rem-calc(20);
    p {
      line-height: 1.2;
    }
  }
  .close-button {
    padding: rem-calc(5);
  }
}
