.schedule {
  position: relative;
  .content {
    margin-bottom: rem-calc(25);
    margin-top: rem-calc(21);
  }
  .items {
    margin-bottom: rem-calc(5);
  }
  .line {
    height: rem-calc(10);
    background: #000;
    margin-bottom: rem-calc(5);
  }
  .separator {
    display: inline-block;
    font-family: 'Roboto Slab';
    font-size: rem-calc(21);
    font-weight: 700;
  }
  .events {
    margin-bottom: rem-calc(31);
  }
  .event {
    .separator {
      @include breakpoint(small only) {
        display: none;
      }
    }
  }
  .date {
    display: inline-block;
    font-family: 'Roboto Slab';
    font-size: rem-calc(25);
    margin-bottom: rem-calc(8);
    // margin-top: rem-calc(36);
    .separator {
      font-size: rem-calc(25);
    }
    .day {
      display: inline-block;
      font-weight: 700;
      text-transform: capitalize;
      &.holiday {
        // color: #fe0000;
        color: #000;
      }
    }
    .month {
      display: inline-block;
      font-weight: 400;
    }
  }
  .schedule-item {
    a {
      display: inline-block;
      line-height: 1.25;
      &:hover {
        background-color: #000;
        color: #fff;
        padding: rem-calc(0 1);
      }
    }
  }

  .time {
    display: inline-block;
    font-family: 'Roboto Slab';
    font-size: rem-calc(21);
    line-height: 1.25;
    font-weight: 300;
    @include breakpoint(small only) {
      display: block;
    }
  }
  .title {
    display: inline-block;
    @include breakpoint(small only) {
      display: block;
    }
    h3 {
      font-family: 'Roboto Slab';
      font-size: rem-calc(21);
      font-weight: 400;
      margin-bottom: 0;
      line-height: 1.25;
    }
  }
  .address {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: rem-calc(21);
    line-height: 1.25;
  }
  .abstract {
    position: absolute;
  }
  .abstract-1 {
    right: 0;
    top: 13%;
  }
  .abstract-2 {
    left: 0;
    top: 50%;
  }
  .abstract-3 {
    right: 15%;
    top: 65%;
  }
  .abstract-4 {
    right: 0;
    bottom: 0;
  }
}

.day {
  &.holiday {
    color: #fe0000;
  }
}
